::ng-deep .project-info-tooltip {
  padding: 15px;

  .ant-tooltip-arrow-content::before {
    background: linear-gradient(to right bottom, var(--background-color), var(--background-color));
    background-repeat: no-repeat;
    background-position: -10px -10px;
  }

  .ant-tooltip-inner {
    background-color: var(--background-color);
    padding: 15px;
  }
}
