<fieldset [disabled]="disabled">
  <div class="param_header flex items-center h-10">
    <params-import
      [disabled]="disabled"
      [(baseData)]="model"
      contentType="formData"
      i18n-modalTitle="@@Header"
      modalTitle="Header"
    ></params-import>
  </div>
  <eo-ng-table
    [nzDataItem]="model"
    [nzTbody]="table1.formDataTbody"
    [nzThead]="table1.formDataThead"
    [(nzData)]="model"
    nzCheckboxKey="paramNotNull"
    nzPrimaryKey="paramKey"
    [nzScroll]="{ x: '1020px' }"
    [nzDraggable]="true"
  ></eo-ng-table>
</fieldset>
