<div class="flex items-center justify-between eo_navbar">
  <div class="flex">
    <img class="logo" src="assets/images/logo.svg" />
    <!-- star -->
    <a href="https://github.com/eolinker/eoapi" target="_blank" class="flex items-center can_be_click">
      <img class="mx-4" src="https://img.shields.io/github/stars/eolinker/eoapi?style=social" alt="" />
    </a>
    <!-- Select workspace -->
    <div
      *ngIf="!status.isShare"
      class="flex items-center can_be_click"
      eo-ng-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="workspaceMenu"
    >
      <eo-iconpark-icon
        class="mr-[5px]"
        name="link-cloud-{{ workspaceService.currentWorkspace?.id !== -1 ? 'sucess' : 'faild' }}"
      >
      </eo-iconpark-icon>
      {{ workspaceService.currentWorkspace.title }}
      <eo-iconpark-icon class="ml-[3px]" name="down"></eo-iconpark-icon>
    </div>
    <eo-ng-dropdown-menu #workspaceMenu>
      <ul class="ml-[-11px]" nz-menu>
        <div class="flex py-[5px] px-[12px]">
          <input
            eo-ng-input
            type="text"
            class="flex-1 px-3 eo-search-input"
            i18n-placeholder
            placeholder="Search Workspace"
            [(ngModel)]="searchValue"
          />
          <button
            eoNgFeedbackTooltip
            i18n-nzTooltipTitle
            nzTooltipTitle="New Workspace"
            nzType="primary"
            eo-ng-button
            (click)="addWorkspace()"
            class="ml-3 flex items-center"
          >
            <eo-iconpark-icon name="plus"></eo-iconpark-icon>
          </button>
        </div>
        <li
          style="color: #000"
          nz-menu-item
          (click)="changeWorkspace(item)"
          [nzSelected]="workspaceService.currentWorkspace?.id === item.id"
          *ngFor="let item of searchWorkspace"
        >
          <eo-iconpark-icon class="mr-[5px]" name="link-cloud-{{ item.id !== -1 ? 'sucess' : 'faild' }}">
          </eo-iconpark-icon>
          {{ item.title }}
        </li>
      </ul>
    </eo-ng-dropdown-menu>
  </div>

  <div class="flex items-center can_be_click">
    <eo-get-share-link></eo-get-share-link>
    <!-- Change Language -->
    <eo-ng-select
      *ngIf="status.isShare"
      [(ngModel)]="lang.systemLanguage"
      nzBorderless
      (ngModelChange)="handleSwitchLang($event)"
    >
      <eo-ng-option nzValue="en-US" nzLabel="English"></eo-ng-option>
      <eo-ng-option nzValue="zh-Hans" nzLabel="简体中文"></eo-ng-option>
    </eo-ng-select>
    <nz-divider nzType="vertical"></nz-divider>
    <!-- help -->
    <eo-ng-dropdown btnType="text" [title]="helpTitle" [itemTmp]="helpTemplateItem" [menus]="helpMenus">
      <ng-template #helpTitle>
        <eo-iconpark-icon name="help"></eo-iconpark-icon>
      </ng-template>
    </eo-ng-dropdown>
    <ng-template #helpTemplateItem let-item="item">
      <a href="{{ item.href }}" target="_blank" i18n>{{ item.title }}</a>
      <li nz-menu-divider></li>
    </ng-template>
    <nz-divider nzType="vertical"></nz-divider>
    <!-- setting -->
    <button
      eo-ng-button
      nzType="text"
      *ngIf="!status.isShare"
      class="flex items-center justify-center icon"
      i18n-nzTooltipTitle
      eoNgFeedbackTooltip
      [nzTooltipMouseEnterDelay]="0.4"
      nzTooltipTitle="Open Settings"
      (click)="openSettingModal()"
    >
      <eo-iconpark-icon name="setting"></eo-iconpark-icon>
    </button>
    <!-- User -->
    <button
      eo-ng-button
      nzType="text"
      eo-ng-dropdown
      *ngIf="!status.isShare"
      class="flex items-center justify-center icon"
      [nzDropdownMenu]="userMenu"
    >
      <eo-iconpark-icon name="people"> </eo-iconpark-icon>
    </button>
    <eo-ng-dropdown-menu #userMenu>
      <ul nz-menu>
        <li nz-menu-item *ngIf="!userService.isLogin">
          <button type="button" (click)="loginOrSign()" i18n>Sign in for Collaboration</button>
        </li>
        <ng-container *ngIf="userService.isLogin">
          <li class="px-[12px] py-[5px] text-neutral-400 font-bold">
            {{ userService.userProfile?.username }}
          </li>
          <li nz-menu-item (click)="openSettingModal()">
            <button type="button" i18n>Account Setting</button>
          </li>
          <li nz-menu-item (click)="loginOut()">
            <button type="button" i18n>Sign Out</button>
          </li>
        </ng-container>
      </ul>
    </eo-ng-dropdown-menu>
    <!-- Web download client -->
    <div class="ml-2.5" *ngIf="!electron.isElectron && !status.isShare">
      <eo-ng-dropdown class="download-dropdown" [title]="downloadTitle" [menus]="resourceInfo" [itemTmp]="downloadMenu">
        <ng-template #downloadTitle>
          <div class="flex items-center">
            <eo-iconpark-icon class="icon" name="arrow-down" size="14px"></eo-iconpark-icon>
            <span class="ml-1">Download</span>
          </div>
        </ng-template>
      </eo-ng-dropdown>
      <ng-template #downloadMenu let-item="item">
        <a [href]="item.link">{{ item.name }}</a>
      </ng-template>
    </div>
    <!-- Windows pc system operate -->
    <div *ngIf="!OS_TYPE.includes('mac') && electron.isElectron">
      <button eo-ng-button nzType="text">
        <nz-divider nzType="vertical"></nz-divider>
        <eo-iconpark-icon
          eoNgFeedbackTooltip
          i18n-nzTooltipTitle
          nzTooltipTitle="Minimize"
          [nzTooltipMouseEnterDelay]="0.4"
          name="minus"
        ></eo-iconpark-icon>
      </button>
      <button eo-ng-button nzType="text">
        <eo-iconpark-icon
          eoNgFeedbackTooltip
          i18n-nzTooltipTitle
          nzTooltipTitle="Minimize"
          [nzTooltipMouseEnterDelay]="0.4"
          [name]="isMaximized ? 'off-screen' : 'full-screen'"
        ></eo-iconpark-icon>
      </button>
      <button eo-ng-button nzType="text">
        <eo-iconpark-icon
          eoNgFeedbackTooltip
          i18n-nzTooltipTitle
          [nzTooltipMouseEnterDelay]="0.4"
          nzTooltipTitle="Close"
          name="close"
          (click)="close()"
        ></eo-iconpark-icon>
      </button>
    </div>
  </div>
</div>
