.eo_navbar {
  -webkit-app-region: drag;
  position: sticky;
  width: 100%;
  z-index: 11;
  left: 0;
  top: 0;
  padding: 0 8px;
  border-bottom: 1px solid var(--BORDER);
  height: var(--NAVBAR_HEIGHT);
  .logo {
    width: 90px;
  }
}

.can_be_click {
  -webkit-app-region: no-drag;
}
:host ::ng-deep {
  .download-dropdown {
    button {
      background-color: rgba(0, 120, 90, 0.2);
      color: #333;
    }
    .icon {
      color: var(--GREEN_NORMAL);
    }
  }
}
