# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
/tmp
/out-tsc
/app-builds
/release
*.js
*.js.map
*.webpack.js
!src/core/market/browser/**/*.js
!src/core/market/browser/dist/icon.png
!src/workbench/node/request/**/*.js
!/api/*.js


# dependencies
node_modules
# package-lock.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/test
!/e2e/protractor.conf.js
/e2e/*.map
/e2e/tracing
/e2e/screenshots

# System Files
.DS_Store
Thumbs.db
# *-lock.json