<div class="app_toolbar flex">
  <div class="flex">
    <button
      eo-ng-button
      nzType="text"
      class="flex items-center"
      i18n-nzTooltipTitle
      eoNgFeedbackTooltip
      [nzTooltipPlacement]="['topLeft', 'leftTop']"
      nzTooltipTitle="Hide/Show Sidebar"
      (click)="toggleCollapsed()"
    >
      <eo-iconpark-icon *ngIf="!sidebar.collapsed" name="expand-right"></eo-iconpark-icon>
      <eo-iconpark-icon *ngIf="sidebar.collapsed" name="expand-left"></eo-iconpark-icon>
    </button>
    <button
      eo-ng-button
      nzType="text"
      class="flex items-center"
      i18n-nzTooltipTitle
      nz-tooltip
      [nzTooltipPlacement]="['topLeft', 'leftTop']"
      nzTooltipTitle="Change Theme"
      (click)="changeTheme()"
    >
      <eo-iconpark-icon name="theme"></eo-iconpark-icon>
    </button>
  </div>
</div>
