/**颜色集合**/
:root {
  // 主题内设置
  // *主配色
  --MAIN_THEME_COLOR: #00785a;

  // *主体背景色
  --MAIN_BG: #fff;

  // *次要背景色，比如tab背景色
  --SEC_BG: #f2f2f2;

  // *主体文字颜色
  --MAIN_TEXT: rgba(0, 0, 0, 0.8);

  // *组件不可用时的文字颜色
  --TEXT_DISABLE: rgba(0, 0, 0, 0.25);

  // *组件激活时（选中或hover）的文字颜色
  --TEXT_ACTIVE: #fff;

  // *标题、表格头部等需要突出显示的文字
  --TEXT_TITLE: rgba(0, 0, 0, 0.8);

  // *副标题、分页、表格底部等次要显示的文字
  --TEXT_TITLE_SEC: rgba(0, 0, 0, 0.45);

  // *组件不可用时的背景色
  --DISABLE_BG: rgba(0, 0, 0, 0.05);

  // *外边框
  --BORDER: rgba(0, 0, 0, 0.06);

  // *分割线、表格内的分割线
  --DIVIDER: rgba(0, 0, 0, 0.05);

  // 顶部导航栏
  // *背景色
  --NAVBAR_BG: #004132;
  // *文字颜色
  --NAVBAR_TEXT: #fff;
  // *不可用时的文字颜色
  --NAVBAR_TEXT_DISABLE: rgba(255, 255, 255, 0.25);
  // *底部边框颜色
  --NAVBAR_BORDER_BOTTOM: #004132;
  // *按钮背景色
  --NAVBAR_BTN_BG: rgba(0, 0, 0, 0.1);
  // *按钮hover背景色
  --NAVBAR_BTN_BG_HOVER: rgba(255, 255, 255, 0.35);
  // *“更多”按钮背景色
  --NAVBAR_BTN_MORE_BG: rgba(255, 255, 255, 0.15);
  // *按钮不可用时的背景色
  --NAVBAR_BTN_DISABLE_BG: rgba(255, 255, 255, 0.05);

  // 侧边导航栏
  // *背景色
  --SIDEBAR_BG: #fafafa;
  // *选项选中时的背景色
  --SIDEBAR_BG_ACTIVE: #00785a;
  // *选项hover时的背景色
  --SIDEBAR_BG_HOVER: #00785acc;
  // *文字颜色
  --SIDEBAR_TEXT: var(--MAIN_TEXT);
  // *选项选中或hover时的文字颜色
  --SIDEBAR_TEXT_ACTIVE: var(--TEXT_ACTIVE);

  // 底部快捷操作栏
  // *背景色
  --FOOTER_BG: #fff;
  // 文字颜色
  --FOOTER_TEXT: var(--MAIN_TEXT);

  // 按钮
  // 默认按钮文字颜色
  --BTN_TEXT: var(--TEXT_ACTIVE);
  // 红色按钮文字颜色
  --BTN_TEXT_RED: #ff3c32;
  // 蓝色按钮文字颜色
  --BTN_TEXT_BLUE: #2878ff;

  // *主要操作(PRIMARY)
  // 按钮内文字和图标的颜色
  --BTN_PRIMARY_TEXT: var(--BTN_TEXT);
  // 按钮内文字和图标hover的颜色
  --BTN_PRIMARY_TEXT_HOVER: var(--BTN_TEXT);
  // 按钮背景色
  --BTN_PRIMARY_BG: var(--GREEN_NORMAL);
  // 按钮hover背景色
  --BTN_PRIMARY_BG_HOVER: var(--GREEN_LIGHT);
  // “更多”按钮背景色
  --BTN_PRIMARY_MORE_BG: var(--GREEN_DEEPER);
  // “更多”按钮hover背景色
  --BTN_PRIMARY_MORE_BG_HOVER: var(--GREEN_DEEP);
  // 按钮边框颜色
  --BTN_PRIMARY_BORDER: var(--GREEN_NORMAL);
  // 按钮边框hover颜色
  --BTN_PRIMARY_BORDER_HOVER: var(--GREEN_LIGHT);

  // 次要操作(SEC)
  // 按钮内文字和图标的颜色
  --BTN_SEC_TEXT: var(--MAIN_TEXT);
  // 按钮内文字和图标hover的颜色
  --BTN_SEC_TEXT_HOVER: var(--BLUE_NORMAL);
  // 按钮背景色
  --BTN_SEC_BG: var(--MAIN_BG);
  // 按钮hover背景色
  --BTN_SEC_BG_HOVER: var(--MAIN_BG);
  // “更多”按钮背景色
  --BTN_SEC_MORE_BG: var(--MAIN_BG);
  // “更多”按钮hover背景色
  --BTN_SEC_MORE_BG_HOVER: var(--MAIN_BG);
  // 按钮边框颜色
  --BTN_SEC_BORDER: var(--BORDER);
  // 按钮边框hover颜色
  --BTN_SEC_BORDER_HOVER: var(--BLUE_NORMAL);

  // 危险操作(DANGER)
  // 按钮内文字和图标的颜色
  --BTN_DANGER_TEXT: var(--BTN_TEXT);
  // 按钮内文字和图标hover的颜色
  --BTN_DANGER_TEXT_HOVER: var(--BTN_TEXT);
  // 按钮背景色
  --BTN_DANGER_BG: var(--RED_NORMAL);
  // 按钮hover背景色
  --BTN_DANGER_BG_HOVER: var(--RED_LIGHT);
  // “更多”按钮背景色
  --BTN_DANGER_MORE_BG: var(--RED_DEEPER);
  // “更多”按钮hover背景色
  --BTN_DANGER_MORE_BG_HOVER: var(--RED_DEEP);
  // 按钮边框颜色
  --BTN_DANGER_BORDER: var(--RED_NORMAL);
  // 按钮边框hover颜色
  --BTN_DANGER_BORDER_HOVER: var(--RED_LIGHT);

  // 轻量级操作(LIGHT)，比如纯文字、图标、列表的操作
  // 按钮内文字和图标的颜色
  --BTN_LIGHT_TEXT: var(--BLUE_NORMAL);
  // 按钮内文字和图标hover的颜色
  --BTN_LIGHT_TEXT_HOVER: var(--BLUE_LIGHT);
  // 按钮背景色
  --BTN_LIGHT_BG: transparent;
  // 按钮hover背景色
  --BTN_LIGHT_BG_HOVER: transparent;
  // 按钮边框颜色
  --BTN_LIGHT_BORDER: transparent;
  // 按钮边框hover颜色
  --BTN_LIGHT_BORDER_HOVER: transparent;

  // *表格头部/底部背景色
  --TABLE_HEADER_BG: #f8f8f8;

  // *表格头部hover背景色
  --TABLE_HEADER_HOVER_BG: #f2f2f2;

  // *表格内容hover背景色
  --TABLE_ROW_HOVER_BG: rgba(0, 0, 0, 0.05);

  // *表格列表选中
  --TABLE_BG_ACTIVE: rgba(0, 0, 0, 0.05);

  // *输入类组件背景色（输入框、多选框、单选框、下拉菜单、搜索框等）
  --INPUT_BG: #fff;

  // 模态弹窗
  // *弹窗背景色
  --MODAL_BG: #fff;
  // 弹窗阴影
  --MODAL_SHADOW: 0px 10px 15px 5px rgba(0, 0, 0, 0.15);
  // 弹窗遮罩层颜色
  --MODAL_MASK: rgba(0, 0, 0, 0.35);

  // 组件
  // *组件背景色（比如下拉菜单背景）
  --COMPONENT_BG: #fff;
  // 组件阴影（比如下拉菜单阴影）
  --COMPONENT_SHADOW: 0px 3px 7px -2px rgba(0, 0, 0, 0.1);

  // 图表
  // *图表背景色
  --ECHART_BG: #fff;
  // 图表阴影
  --ECHART_SHADOW: 0px 3px 7px -2px rgba(0, 0, 0, 0.1);
  // 甘特图 背景色
  --GANTT_ECHART_FILTER: none;

  // 下拉菜单 列表 的 HOVER 样式
  --LIST_ITEM_BG_HOVER: rgba(0, 0, 0, 0.05);

  // 分割线----------------------------------------------------------//
  // 以下均为全局设置
  // 按钮的默认字体大小
  --BUTTON_FONT_SIZE: 14px;
  // 全局字体默认大小
  --GLOBAL_FONT_SIZE: 14px;
  // 全局统一调配padding
  --GLOBAL_PLATE_PADDING: 15px;
  // 圆角
  --DEFAULT_BORDER_RADIUS: 3px;

  // 颜色
  // 绿
  --GREEN_NORMAL: #00785a;
  --GREEN_LIGHT: #0aa07a;
  --GREEN_DEEP: #05654d;
  --GREEN_DEEPER: #085542;
  // 蓝
  --BLUE_NORMAL: #2878ff;
  --BLUE_LIGHT: #498cff;
  --BLUE_DEEP: #2a6cde;
  --BLUE_DEEPER: #265fc2;
  // 红
  --RED_NORMAL: #ff3c32;
  --RED_LIGHT: #ff625a;
  --RED_DEEP: #e6362d;
  --RED_DEEPER: #ce3129;

  // 滚动条背景色
  --SCROLL_BAR_BG: rgba(255, 255, 255, 0.1);

  // 滚动条颜色
  --SCROLL_BAR: rgba(0, 0, 0, 0.05);

  // Tag颜色
  // 绿
  --GREEN_TAG_BG: #0aa07a;
  --GREEN_TAG_TEXT: rgba(255, 255, 255, 0.8);
  // 蓝
  --BLUE_TAG_BG: #498cff;
  --BLUE_TAG_TEXT: rgba(255, 255, 255, 0.8);
  // 红
  --RED_TAG_BG: #ff625a;
  --RED_TAG_TEXT: rgba(255, 255, 255, 0.8);
  // 白
  --WHITE_TAG_BG: #f2f2f2;
  --WHITE_TAG_TEXT: rgba(0, 0, 0, 0.8);
  // 黑
  --BLACK_TAG_BG: #212121;
  --BLACK_TAG_TEXT: rgba(255, 255, 255, 0.8);
  // 紫
  --PURPLE_TAG_BG: #9c27b0;
  --PURPLE_TAG_TEXT: rgba(255, 255, 255, 0.8);
  // 黄
  --YELLOW_TAG_BG: #ff8f00;
  --YELLOW_TAG_TEXT: rgba(255, 255, 255, 0.8);
  // 橙色
  --ORANGE_TAG_BG: #ff5500;
  --ORANGE_TAG_TEXT: rgba(255, 255, 255, 0.8);
}
