:host {
  overflow: initial;
}

.ant-divider-vertical {
  margin: 0 16px;
}

:host ::ng-deep {
  .ant-skeleton {
    display: block;

    &[ng-reflect-nz-loading='true'] {
      display: table;
    }
  }

  .ant-tabs-nav::before {
    z-index: 10;
  }

  .ant-tabs-nav-list {
    margin-left: 20px;
  }

  .ant-tabs {
    overflow: hidden;
  }

  .ant-tabs-content-holder {
    padding-top: 35px;
    padding-bottom: 8px;
    margin-bottom: 0;
    overflow: auto;
  }

  .ant-skeleton-element .ant-skeleton-button {
    width: 100%;
  }

  .ant-tabs-tab {
    padding: 10px 0;
  }

  .tab-content-container {
    @apply w-4/5 m-auto;
  }

  .md-preview {
    img {
      max-width: 800px;
    }
  }

  .extension-detail {
    height: 70vh;
    overflow: hidden;

    .ant-descriptions-row > td {
      padding-bottom: 8px;
    }

    .ant-descriptions-item-content,
    .ant-descriptions-item-label {
      color: var(--TIPS_TEXT_COLOR);
    }
  }
}

a {
  color: var(--BLUE_NORMAL);
}
