<div class="py-3 extension-detail" *ngIf="extensionDetail">
  <div class="sticky px-2 top-0 z-50 bg-white">
    <div class="pb-3 flex justify-between h-[50px]">
      <div class="flex items-center">
        <a nz-button nzType="link" (click)="backToList()">
          <eo-iconpark-icon name="left" class="anticon" size="16px"></eo-iconpark-icon><span i18n>Back</span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <div class="mr-2">
          <nz-avatar nzSize="small" nzSrc="{{ extensionDetail.logo }}"></nz-avatar>
        </div>
        <span class="font-bold text-[16px]">{{ extensionDetail.moduleName }}</span>
      </div>
      <div class="flex items-center">
        <nz-switch class="mr-2.5"></nz-switch>
        <!-- <button nz-button nzType="primary">Install</button> -->
        <button nz-button nzType="default">Uninstall</button>
      </div>
    </div>
    <!-- <div class="bbd"></div> -->
  </div>
  <section class="h-full px-4 max-w-[80vw] mx-auto">
    <p class="w-full">{{ extensionDetail.description }}</p>
    <nz-tabset>
      <!-- Setting -->
      <nz-tab nzTitle="Settings">
        <div class="ant-form-item">
          <label for="eoapi-extensions.token"> Token</label>
          <div _ngcontent-xnd-c228="" class="text-[12px] mb-[8px] text-gray-400">
            Eolink OpenAPI token, which can only be accessed remotely after configuration
          </div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <button nz-button nzType="primary">Save</button>
      </nz-tab>
      <!-- Details -->
      <nz-tab nzTitle="Details">
        <div class="h-full overflow-auto w-4/5 m-auto">
          <nz-skeleton [nzLoading]="introLoading" [nzActive]="true">
            <eo-shadow-dom class="md-preview" [text]="extensionDetail.introduction" [options]="{ html: true }">
            </eo-shadow-dom>
          </nz-skeleton>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Support">
        <nz-descriptions [nzColumn]="1" nzTitle="">
          <nz-descriptions-item i18n-nzTitle nzTitle="Author">{{ extensionDetail.author }}</nz-descriptions-item>
          <nz-descriptions-item i18n-nzTitle nzTitle="Version">{{ extensionDetail.version }} </nz-descriptions-item>
          <nz-descriptions-item i18n-nzTitle nzTitle="Repository">dfsdfds </nz-descriptions-item>
          <nz-descriptions-item i18n-nzTitle nzTitle="Homepage">dsfdsf </nz-descriptions-item>
        </nz-descriptions></nz-tab
      >
      <nz-tab nzTitle="ChangeLog">
        <h1>Change Log</h1>
        <p>All notable changes to this project will be documented in this file.</p>
        <h2>[12.0.1] - 2022-03-03</h2>
        <!-- !show be markdown preview -->
        <!-- <div class="h-full overflow-auto w-4/5 m-auto">
          <nz-skeleton [nzLoading]="introLoading" [nzActive]="true">
            <eo-shadow-dom class="md-preview" [text]="extensionDetail.introduction" [options]="{ html: true }">
            </eo-shadow-dom>
          </nz-skeleton>
        </div> -->
      </nz-tab>
    </nz-tabset>
  </section>
</div>
