.ant-input-group.ant-input-group-compact {
  display: flex;
}
.ant-select {
  height: 32px;
}
.ant-form-item-label {
  font-weight: bold;
}
eo-api-edit-header,
eo-api-edit-body,
eo-api-edit-query,
eo-api-edit-rest {
  display: block;
}
.eo-tab-theme-icon {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--MAIN_THEME_COLOR);
  margin-left: 5px;
}
