.ant-input-group.ant-input-group-compact {
  display: flex;
}
.ant-select {
  height: 32px;
}
.ant-form-item-label {
  font-weight: bold;
}
eo-api-edit-header,
eo-api-edit-body,
eo-api-edit-query,
eo-api-edit-rest {
  display: block;
}
.eo-tab-theme-icon {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--MAIN_THEME_COLOR);
  margin-left: 5px;
}
::ng-deep {
  .param_header {
    padding: 5px 15px;
    .ant-radio-wrapper {
      font-size: 12px;
    }
    .ant-radio-inner {
      width: 14px;
      height: 14px;
    }
    .ant-radio-inner::after {
      width: 14px;
      height: 14px;
      margin-top: -7px;
      margin-left: -7px;
    }
  }
  .ant-collapse-content {
    margin: 0 25px;
  }
  .param_header + list-block-common-component .wrap_lbcc {
    border-top: 1px solid var(--BORDER);
  }
  .ant-divider {
    margin: 10px 0;
  }
}
