<!-- <ng-container *ngIf="isVisible">
  <span
    nz-popover
    [nzPopoverContent]="contentTemplate"
    [nzPopoverOverlayStyle]="{ left: '-12px', marginBottom: '8px' }"
    nzPopoverOverlayClassName="sidebar_setting_popover"
    nzPopoverPlacement="rightBottom"
    class="sidebar_item sidebar_setting"
  >
    <i nz-icon nzType="setting"></i>
  </span>

  <ng-template #contentTemplate>
    <ul nz-menu [nzSelectable]="false">
      <li nz-menu-item (click)="handleShowModal()">设置</li>
      <li nz-menu-item (click)="switchDataSource()">{{ isRemote ? '切换到本地' : '切换到远程' }}</li>
    </ul>
  </ng-template>
</ng-container> -->
