.eo_sidebar {
  border-right: 1px solid var(--BORDER);
  overflow: auto;
  width: 90px;
  height: 100%;
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
.eo_sidebar_shrink {
  width: 50px;
}
.sidebar_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
  color: var(--SIDEBAR_TEXT);
  transform: scale(0.8);
  border-radius: 3px;
  color: rgba(0,0,0,0.5);
  &:hover {
    background-color: var(--SEC_BG);
  }
  &.sidebar_item_active {
    background-color: var(--SEC_BG);
    color: #00785a;
    i.icon {
      color: #00785a;
    }
    .label {
      color: rgba(0,0,0,0.8);
    }
  }
}

