<div class="eo-sidebar" [ngClass]="{ 'eo-sidebar-shrink': isCollapsed }">
  <ng-container *ngFor="let item of this.modules">
    <nz-divider *ngIf="item.id === '@eo-core-extension'" style="transform: scale(0.8); margin: 5px 0"></nz-divider>
    <a
      (click)="clickModule(item)"
      class="sidebar-item"
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="item.title"
      [ngClass]="{ 'sidebar-item-active': item.id === this.sidebar.currentModule?.id }"
    >
        <eo-iconpark-icon [name]="item.icon" size="24px"> </eo-iconpark-icon>
      <span class="mt-1 label" *ngIf="!sidebar.collapsed">{{ item.title }}</span>
    </a>
  </ng-container>
</div>
