.msg-content {
  position: fixed;
  padding: 30px 0;
  top: 0;
  z-index: 9999;
  left: 0;
  right: 0;
  pointer-events: none;
  .message {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    .msg {
      height: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      &.success {
        background-color: #00785a;
        color: #fff;
      }
      &.warn {
        background-color: var(--YELLOW_TAG_BG);
        color: #fff;
      }
      &.error {
        background-color: #ff4d4f;
        color: #fff;
      }
      .content {
        margin: 0 5px;
      }
    }
  }
}
