:host ::ng-deep {
  eo-workspace-member,
  eo-workspace-setting,
  eo-project-list {
    height: calc(var(--body-height) - 127px) !important;
    padding-top: 15px;
    display: block;
    overflow: auto;
  }

  eo-workspace-member,
  eo-workspace-setting {
    width: 50%;
    margin: 0 auto;
  }
}

.list-type-switcher {
  .active {
    color: var(--button-primary-background-color);
  }
}
