<div class="p-[20px]">
  <header class="flex justify-between">
    <div class="mb-[15px]">
      <b class="mr-[14px] text-[18px]" i18n>{{ title }}</b>
    </div>
    <div class="flex">
      <eo-ng-button-group class="list-type-switcher">
        <button eo-ng-button (click)="setListType('card')">
          <eo-iconpark-icon [ngClass]="{ active: listType === 'card' }" name="page-template"></eo-iconpark-icon>
        </button>
        <button eo-ng-button (click)="setListType('list')">
          <eo-iconpark-icon [ngClass]="{ active: listType === 'list' }" name="list"></eo-iconpark-icon>
        </button>
      </eo-ng-button-group>
      <button class="!ml-[10px]" eo-ng-button nzType="primary" (click)="createProject()">
        <eo-iconpark-icon name="plus"></eo-iconpark-icon>
        <span i18n>New</span>
      </button>
    </div>
  </header>
  <section>
    <eo-ng-tabset class="mx-[5px]">
      <eo-ng-tab i18n-nzTitle nzTitle="Project">
        <eo-project-list></eo-project-list>
      </eo-ng-tab>
      <eo-ng-tab i18n-nzTitle nzTitle="Member">
        <eo-workspace-member></eo-workspace-member>
      </eo-ng-tab>
      <eo-ng-tab i18n-nzTitle nzTitle="Setting">
        <eo-workspace-edit></eo-workspace-edit>
      </eo-ng-tab>
    </eo-ng-tabset>
  </section>
</div>
