.detail_page {
  padding: 0 20px 20px;
  width: 100%;
}

.api_name {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.api_line {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.t-1 {
  margin-top: 1em;
}
