nz-content {
  width: 100%;
  background-color: var(--MAIN_BG);
}

:lang(zh) {
  nz-select {
    width: 132px;
  }
}

:lang(en) {
  nz-select {
    width: 162px;
  }
}

nz-sider {
  width: 250px;
  background-color: #fff;
}

.fix-mt {
  margin-top: -6px;
}

nz-divider {
  margin: 0.1em 0;
}

.manager-env {
  color: #00785a;
}



.icon {
  -webkit-app-region: no-drag;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.4s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

::ng-deep {
  eo-api {
    display: flex;
    height: 100%;

    .ant-layout-sider-children {
      position: relative;
      display: flex;
      // border-right: 1px solid #f0f0f0;
      // padding: 0 10px;
      .group-btn-add,
      .group-search {
        margin-bottom: 12px;
      }
      .sider-resize-line {
        @apply absolute w-[1px] bg-[#f8f8f9] flex items-center justify-center flex-col right-0 top-0 bottom-0;
        cursor: col-resize;
        &:hover, &.is-drag {
            width: 6px;
            right: -3px;
            background: #68be8d;
            border-color: #68be8d;
            z-index: 20;
            i {
               opacity: 1;
            }
        }
        > i {
            opacity: 0;
            margin: 1px 0;
            height: 2px;
            width: 2px;
            border-radius: 2px;
            background: rgba(23,35,61,.25);
        }
      }
    }
    .ant-tabs-nav.ng-star-inserted {
      padding: 0 10px;
    }
    .api-container-tabs {
      .ant-tabs-nav {
        height: 40px;
      }
      .ant-tabs-nav-list {
        width: 100%;
        justify-content: space-evenly;
        .ant-tabs-tab {
          // flex: 1;
          width: 49%;
          justify-content: center;
          margin: 0;
        }
      }
    }
    .tabs-bar {
      background-color: var(--SEC_BG);
      padding: 5px 0px 0px 5px;
      display: flex;
      margin-bottom: -1px;
      align-items: center;
      justify-content: space-between;
    }
    .content_container {
      border-top: 1px solid var(--BORDER);
      .inside_page_tabset {
        .ant-tabs-tab-active {
          a {
            color: var(--MAIN_THEME_COLOR);
          }
        }
        a {
          color: #999;
        }
      }
    }


    .param_header {
      padding: 5px 15px;
      box-sizing: border-box;
      // >div{
      //   min-height: 32px;
      // }
      .ant-radio-wrapper {
        font-size: 12px;
      }
      .ant-radio-inner {
        width: 14px;
        height: 14px;
      }
      .ant-radio-inner::after {
        width: 14px;
        height: 14px;
        margin-top: -7px;
        margin-left: -7px;
      }
    }
    .ant-collapse-content {
      margin: 0 25px;
    }
    .param_header + list-block-common-component .wrap_lbcc {
      border-top: 1px solid var(--BORDER);
    }
    .ant-divider {
      // margin: 10px 0;
    }
  }

  .env {
    border: 2px solid pink;
  }
  .right-bar {
    // transition: 0.1s all ease;
    &.left-line {
      border-left: 1px solid rgba(0, 0, 0, 0.07);
    }

    .env-icon {
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      // transition: all 0.4s ease;
      &.active {
        color: #00785a;
      }
      &:hover {
        color: #00785a;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .api-container-tabs {
    ::ng-deep .ant-tabs-tab {
      padding: 0.2em 0;
      padding: 0;
      margin: 0;
      .ant-tabs-tab-btn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .tab-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .eo-tab-theme-icon {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--MAIN_THEME_COLOR);
    margin-left: 5px;
  }
}
