nz-content {
  background-color:  var(--MAIN_BG);
}

nz-sider {
  width: 250px;
  background-color: #fff;
}




::ng-deep {
  .ant-layout-sider-children {
    border-right: 1px solid #f0f0f0;
    padding: 5px;
    .group-btn-add,
    .group-search {
      margin-bottom: 12px;
    }
  }
  .tabs-bar {
    background-color: var(--SEC_BG);
        padding: 5px 10px 0 15px;
    display: flex;
    margin-bottom: -1px;
    align-items: center;
    justify-content: space-between;
    .env {
      height: 36px;
    }
  }
  .content_container {
    border-top: 1px solid var(--BORDER);
    .inside_page_tab {
      .ant-tabs-nav {
        padding-left: 20px;
      }
    }
  }

  eo-api {
    router-outlet + * {
      display: block;
      height: calc(100vh -  var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - 46px);
      overflow: auto;
    }
    .has_tab_page router-outlet + * {
      height:  calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - 45px - 47px);
    }
  }
  .method_text_GET {
    color: var(--BLUE_TAG_BG);
  }
  .method_text_POST {
    color: var(--GREEN_TAG_BG);
  }
  .method_text_DELETE {
    color: var(--RED_TAG_BG);
  }
  .method_text_HEAD {
    color: var(--YELLOW_TAG_BG);
  }
  .method_text_PATCH {
    color: var(--ORANGE_TAG_BG);
  }
  .method_text_PUT,
  .method_text_OPTIONS {
    color: var(--BLACK_TAG_BG);
  }
}
