nz-content {
  background-color: var(--MAIN_BG);
}
:lang(zh) {
  .ant-select {
    width: 132px;
  }
}
.ant-layout{
  background-color: var(--MAIN_BG);
}
:lang(en) {
  .ant-select {
    width: 162px;
  }
}
.active {
  background: var(--NAVBAR_BTN_BG);
  border-color: transparent;
  color: var(--MAIN_TEXT);
}



nz-divider {
  margin: 0.1em 0;
}
.tabs-bar {
  background-color: var(--SEC_BG);
  box-sizing: border-box;
  padding:0;
  height: var(--PAGE_TABS_HEIGHT);
  display: flex;
  margin-bottom: -1px;
  align-items: center;
  justify-content: space-between;
  eo-tab {
    width: calc(100% - 200px);
  }
}
:host ::ng-deep {
  .ant-layout-sider-children {
    width: 100%;
  }

  .api-container-tabs {
    .ant-tabs-nav {
      height: var( --PAGE_TABS_HEIGHT);
    }
    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-evenly;
      .ant-tabs-tab {
        // flex: 1;
        width: 49%;
        justify-content: center;
        margin: 0;
      }
    }
  }
  .share-group-tabset {
    .ant-tabs-nav {
      display: none;
    }
  }
  .content_container {
    border-top: 1px solid var(--BORDER);
    .inside_page_tabset {
    }
  }
  .ant-tabs-nav,
  .ant-tabs-extra-content {
    height: 43px;
  }

  .param-box-header {
    padding: 5px 15px;
    box-sizing: border-box;
  }
}
