<div class="split-wrapper" [ngStyle]="{ flexDirection: direction }">
  <div #scalable class="flex-shrink-0 scalable" [style]="topStyle">
    <ng-content select="[top]"></ng-content>
  </div>
  <div #separator class="flex-shrink-0 separator" (mousedown)="startDrag($event)" [ngClass]="[direction]">
    <div *ngIf="!hideSeparator" class="trigger-bar-con">
      <i></i><i></i><i></i><i></i>
    </div>
  </div>
  <div #bottomRef [style]="bottomStyle" class="flex-shrink-0">
    <ng-content select="[bottom]"></ng-content>
  </div>
</div>
