::ng-deep {
  .eo-system-setting-modal {
    width: 600px !important;

    .ant-modal-body {
      padding: 0 0 15px;
      min-height: 300px;
      border-radius: var(--DEFAULT_BORDER_RADIUS);
    }
  }
}
