.detail_page {
  padding: 0 20px;
  width: 100%;
}

.api_name {
  margin-top: 25px;
  font-weight: bold;
  font-size: 16px;
}

.api_line {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 5px;
  border-left: 3px solid var(--GREEN_NORMAL);
  font-size: 14px;
}

.t-1 {
  margin-top: 1em;
}
