.app_toolbar {
  position: fixed;
  bottom: 0;
  height: var(--FOOTER_HEIGHT);
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--BORDER);
  background-color: var(--FOOTER_BG);
  width: 100%;
  z-index: 20;
  color: var(--FOOTER_TEXT);
  i {
    font-size: 24px;
    color: rgba(0,0,0,.5);
  }
}
.iconfont{
  line-height: 22px;
}