<div class="app_toolbar f_row">
  <div class="flex">
    <button
      nz-button
      nzType="text"
      class="f_row_ac"
      i18n-nzTooltipTitle
      nz-tooltip
      [nzTooltipPlacement]="['topLeft', 'leftTop']"
      nzTooltipTitle="Hide/Show Sidebar"
      (click)="toggleCollapsed()"
    >
      <eo-iconpark-icon *ngIf="!sidebar.collapsed" name="expand-right"></eo-iconpark-icon>
      <eo-iconpark-icon *ngIf="sidebar.collapsed" name="expand-left"></eo-iconpark-icon>
    </button>
    <!-- <button nz-button nzType="text" class="f_row_ac" (click)="changeTheme()">
      <i class=" icon-zhuti_yifu"></i>
    </button> -->
  </div>
</div>
<!-- <eo-select-theme [(visible)]="showThemeDrawer"></eo-select-theme> -->
