@mixin checkbox_col {
  width: 40px;
  text-align: center;
}

.eo-table {
  position: relative;
  &:hover {
    div.col-menu {
      display: inline-flex;
    }
  }
  div.col-menu {
    position: absolute;
    display: none;
    width: 80px;
    height: 36px;
    bottom: 100%;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ffffff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    &.active {
      display: inline-flex;
    }
    .eo-button {
      padding: 0px 8px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      transition: all 0.4s ease;
      &:hover {
        border-color: #00785a;
        color: #00785a;
      }
    }
  }
  div.col-control {
    position: fixed;
    right: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 100px;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    table.col-table {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      tr {
        height: 30px;
        cursor: pointer;
      }
      th,
      td {
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        vertical-align: center;
      }
      thead {
        height: 30px;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  table.main-table {
    width: 100%;
    border-radius: 3px 3px 0 0;
    border: 1px solid #f1f1f1;
    thead {
      height: 40px;
      background-color: #fafafa;
      th.checkbox-th {
        @include checkbox_col;
      }
      th {
        padding: 0 10px;
        position: relative;
        white-space: nowrap;
        &:after {
          position: absolute;
          content: '';
          display: block;
          right: 0;
          top: 10px;
          bottom: 10px;
          width: 1px;
          background-color: rgba(0, 0, 0, 0.05);
        }
        &:last-child:after {
          display: none;
        }
      }
    }
    tbody {
      tr {
        height: 30px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          display: block;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.1);
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        &:hover {
          background-color: #f7f7f7;
          td {
            input {
              border: 1px solid rgba(0, 0, 0, 0.1);
            }
          }
        }
        td.checkbox-td {
          @include checkbox_col;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        td {
          border: none;
          padding: 0px;
          font-size: 14px;
          height: 100%;
          box-sizing: border-box;

          > .td-input {
            display: inline-flex;
            padding: 5px 8px 5px 0;
            width: 100%;
            height: 100%;
            position: relative;
            > .level-icon {
              width: 30px;
              font-size: 16px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              i {
                cursor: pointer;
              }
            }
            .padding-input {
              display: block;
              width: 15px;
              position: relative;
              &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                top: -5px;
                bottom: -5px;
                left: 0;
                background: rgba(0, 0, 0, 0.1);
              }
            }
            > input {
              flex: 1;
              height: 30px;
              padding: 0 8px;
              border-radius: 4px;
              border: 1px solid rgba(0, 0, 0, 0);
              &:hover,
              &:focus {
                border-color: #00785a;
                box-shadow: 0 0 3px rgba(0, 120, 90, 0.3);
              }
            }
          }
        }
      }
    }
  }
}
