<section class="eo-table">
  <div class="col-menu" [class.active]="isColTableActive">
    <span>
      <button
        nz-button
        nzType="default"
        nzSize="small"
        nzprimary
        nz-popover
        class="eo-button"
        nzPopoverTitle=""
        [(nzPopoverVisible)]="isColTableActive"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottomRight"
      >
        列表项
      </button>
      <ng-template #contentTemplate>
        <div class="col-control">
          <table class="col-table">
            <thead>
              <tr>
                <th><input type="checkbox" [(ngModel)]="isSelectColAll" (click)="handleColMenu($event)" /></th>
                <th>列表项</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cell of columnData; let $i = index">
                <td>
                  <input type="checkbox" [(ngModel)]="!cell.isHidden" (click)="handleColMenu($event, $i)" />
                </td>
                <td>{{ cell.title }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </span>
  </div>

  <table class="main-table">
    <thead>
      <tr>
        <th class="checkbox-th" width="40px">
          <input type="checkbox" [(ngModel)]="isSelectAll" (change)="handleCheckboxs($event)" />
        </th>
        <ng-container *ngFor="let cell of columnData">
          <th *ngIf="!cell.isHidden" [width]="cell.width">{{ cell.title }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let body of modelData; let i = index">
        <td width="40px" class="checkbox-td">
          <input type="checkbox" [ngModel]="body.__isCheck" (change)="handleCheckboxs($event, body)" />
        </td>
        <ng-container *ngFor="let cell of columnData; let $i = index">
          <td *ngIf="!cell.isHidden">
            <div class="td-content">
              <span class="level-icon" *ngIf="cell.isExpand">
                <i
                  nz-icon
                  nzType="plus-square"
                  nzTheme="outline"
                  *ngIf="body.__hasChild && !body.__isExpand"
                  (click)="handleExpand(body.__mid, !body.__isExpand)"
                ></i>
                <i
                  nz-icon
                  nzType="minus-square"
                  nzTheme="outline"
                  *ngIf="body.__hasChild && body.__isExpand"
                  (click)="handleExpand(body.__mid, !body.__isExpand)"
                ></i>
              </span>
              <ng-container *ngIf="cell.isExpand">
                <i *ngFor="let pd of body.__mid?.split('-'); let $pd = index" class="padding-input"></i>
              </ng-container>
              <div *ngIf="cell.isEdit" class="td-input">
                <input
                  type="text"
                  [(ngModel)]="body[cell['key']]"
                  (input)="handleChange($event, cell['key'], body.__mid)"
                />
              </div>
              <div *ngIf="cell.isSelect" class="td-select">
                <eo-select
                  [dataModel]="cell.options"
                  [(model)]="body[cell['key']]"
                  (modelChange)="handleSelect($event, cell['key'], body.__mid)"
                ></eo-select>
              </div>

              <!-- share scope if columnData include [slot] -->
              <ng-container *ngIf="slotMap[cell.slot]">
                <ng-template
                  [ngTemplateOutlet]="slotMap[cell.slot]"
                  [ngTemplateOutletContext]="{ scope: body, index: i }"
                ></ng-template>
              </ng-container>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</section>
