:host {
  z-index: 10;
}

.app_toolbar {
  height: var(--page-footer-toolbar-height);
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--border-color);
  background-color: var(--layout-footer-background-color);
  width: 100%;
  z-index: 20;
  color: var(-- --layout-footer-text-color);

  i {
    font-size: 24px;
    color: rgb(0 0 0 / 50%);
  }
}

.iconfont {
  line-height: 22px;
}
