<!-- <nz-drawer
  [nzVisible]="visible"
  [nzMaskClosable]="true"
  [nzMaskStyle]="{ 'background-color': 'transparent'}"
  [nzWidth]="482"
  [nzOffsetX]="10"
  nzTitle="主题"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent> -->
<eo-ng-radio-group [(ngModel)]="currentTheme" ngDefaultControl>
  <div class="m-mode" *ngFor="let group of THEMES">
    <div class="fs14 fwb mode-title mtb10">{{ group.title }}</div>
    <div class="mode-card">
      <div class="card-wrap cp" (click)="changeTheme(theme.value)" *ngFor="let theme of group.lists">
        <div class="card-container f_column {{ theme.value + '_cc' }}">
          <div class="nav_cc f_row f_js_ac">
            <div class="nav_btn_cc ml5"></div>
            <div class="input_cc mr-[5px]"></div>
          </div>
          <div class="f_row_ac h_100percent">
            <div class="sidebar_cc h_100percent w_60percent">
              <div class="item_scc active_item_scc f_row_ac"><span class="w_60percent"></span></div>
              <div class="item_scc f_row_ac"><span class="w_80percent"></span></div>
              <div class="item_scc f_row_ac"><span class="w_40percent"></span></div>
              <div class="item_scc f_row_ac"><span class="w_20percent"></span></div>
            </div>
            <div></div>
          </div>
        </div>
        <div class="card-footer">
          <span class="fs14">{{ theme.key }}</span>
          <div class="mode-radio" eo-ng-radio [nzValue]="theme.value"></div>
        </div>
      </div>
    </div>
  </div>
</eo-ng-radio-group>
<!-- </ng-container>
</nz-drawer> -->
