:host ::ng-deep {
  .eo_alert_bar {
    margin-bottom: 5px;

    .ant-alert-info {
      background-color: #fff;
      border: 1px solid #4c9e81;
    }
  }

  .ant-code-editor {
    height: calc(var(--bottom-height) - 99px);
  }
}
