:host ::ng-deep {
  .eo-alert-bar {
    display: block;
    margin-bottom: 10px;

    .ant-alert-info {
      background-color: #fff;
      border: 1px solid var(--success-color);
    }
  }

  .ant-code-editor {
    height: calc(var(--bottom-height) - 99px - 2px);
  }
}
