.tab_text{
  max-width: 100px;
}
::ng-deep {
  eo-api-tab {
    width: calc(100% - 100px);
    .ant-tabs-card.ant-tabs-top {
      > .ant-tabs-nav {
        margin: 0;
        padding:0 4px;
        .ant-tabs-tab {
          border-radius: 6px 6px 0 0;
          border-width: 1px;
          border-bottom: 1px solid var(--BORDER);
          &.ant-tabs-tab-active {
            border-color: rgba($color: #000000, $alpha: 0.15);
            border-bottom-color: var(--MAIN_BG);
            .ant-tabs-tab-btn {
              color: var(--MAIN_TEXT);
            }
          }
          .ant-tabs-tab-btn {
            font-size: 12px;
            display: flex;
          }
        }
        .ant-tabs-nav-wrap {
          // max-width: calc(100% - 100px);
          max-width: 100%;
          flex: none;
        }
        .ant-tabs-nav-add {
          background-color: rgba(0, 0, 0, 0);
          border: 0 none;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        .ant-tabs-nav-more {
          min-width: 40px;
          min-height: 40px;
          margin-left: 2px;
          padding: 0 8px;
          &:hover {
            color: #00785a;
            background-color: rgba(0, 0, 0, 0.1);
          }

          &:active,
          &:focus {
            color: #00785a;
          }
        }
        .ant-tabs-tab {
          .ant-tabs-tab-remove {
            color: rgba(0, 0, 0, 0);
          }
          &:hover .ant-tabs-tab-remove {
            color: rgba(0, 0, 0, 0.45);
          }
        }
      }
    }
  }
}
