.tab_text {
  max-width: 90px;
  font-weight: 500;
}
::ng-deep {
  eo-api-tab {
    width: calc(100% - 200px);
    .ant-tabs-card.ant-tabs-top {
      > .ant-tabs-nav {
        margin: 0;
        padding: 0 4px;
        .ant-tabs-tab {
          width: 150px;
          border-radius: 6px 6px 0 0;
          border-width: 1px;
          border-bottom: 1px solid var(--BORDER);
          &.ant-tabs-tab-active {
            border-color: rgba($color: #000000, $alpha: 0.15);
            border-bottom-color: var(--MAIN_BG);
            .ant-tabs-tab-btn {
              color: var(--MAIN_TEXT);
            }
          }
          .ant-tabs-tab-btn {
            width: 100%;
            font-size: 12px;
            display: flex;
          }
        }
        .ant-tabs-nav-wrap {
          max-width: calc(100% - 135px);
          flex: none;
        }
        .ant-tabs-tab {
          .ant-tabs-tab-remove {
            color: rgba(0, 0, 0, 0);
          }
          &:hover {
            .tab-has-edit-icon {
              display: none;
            }
            .ant-tabs-tab-remove {
              display: flex;
              color: rgba(0, 0, 0, 0.45);
            }
          }
        }
        .ant-tabs-tab-remove {
          display: none;
        }
      }
    }
    .tab-item-container {
      width: 100%;
      font-style: italic;
      .tab-has-edit-icon {
        .ant-badge-status-dot{
          width: 8px;
          height: 8px;
        }
        .ant-badge-status-text{
          display: none;
        }
  
      }
      .tab-item-button-group {
        position: absolute;
        height: 100%;
        margin-right: 10px;
        right: 0;
      }
      .ant-tabs-tab-remove {
        padding: 3px;
        margin-left: 3px;
        border-radius: 50%;
        &:hover {
          background-color: #eee;
        }
      }
    }
    .fixed-tab-item-container {
      font-style: initial;
    }
  }
}
