.ant-input-group.ant-input-group-compact {
  display: flex;
}
.ant-select {
  height: 32px;
}
.ant-form-item-label {
  font-weight: bold;
}
eo-api-edit-header,
eo-api-edit-body,
eo-api-edit-query,
eo-api-edit-rest {
  display: block;
}
.top-save-bar {
  @apply sticky top-0 z-10 py-2.5 bg-white;
}

