:host {
  width: 100%;
  overflow: hidden;
  * {
    max-width: 100%;
  }

  .markdown-body {
    font-size: 14px;
    > :first-child {
      margin-top: 12px !important;
    }
    img {
      max-width: 600px;
    }
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 16px;
    }
    h4,
    h5,
    h6,
    h7 {
      font-size: 14px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
      color: black;
      font-weight: 600;
    }
  }
  img {
    margin: 0 auto;
    display: block;
  }
}
