.ant-input-group.ant-input-group-compact {
  display: flex;
}

.basic_info_container {
  padding: 10px;
  background-color: var(--MAIN_BG);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0px;
}
.ant-tabs-nav {
  margin-left: 10px;
}
eo-api-test-header,
eo-api-test-body,
eo-api-test-query,
eo-api-test-rest {
  display: block;
  height: 100%;
  overflow: auto;
}
.test_wrap {
  height: 100%;
  .scroll_container {
    // height: calc(100% - 52px);
    overflow-y: auto;
  }
  ::ng-deep .top_container {
    height: 100%;

    form {
      position: sticky;
      top: 0;
    }
    .ant-tabs {
      height: calc(100% - 52px);
      .ant-tabs-tabpane {
        height: 100%;
        overflow: hidden;
      }
      .ant-tabs-nav,.param_header {
        // position: sticky;
        // top: 0;
        // z-index: 10;
        // background-color: white;
      }
      .ant-tabs-content {
        overflow: hidden;
        height: 100%;
      }
      eo-api-test-body[ng-reflect-body-type=formData] {
      }
    }
  }
  .bottom_container {
    height: 100%;
  }

}
.env_front_uri {
  max-width: 240px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  background-color: var(--TABLE_HEADER_BG);
  border: 1px solid #d9d9d9;
  flex-shrink: 0;
}
div.ant-typography{
  margin-bottom: 0;
}
::ng-deep {
  .response_container{
    .ant-tabs-tabpane{
      min-height: 208px;
    }
  }
}
