:host ::ng-deep {
  .ant-code-editor {
    height: calc(var(--bottom-height) - 128px);
  }
}

:host {
  display: block;
}

ul {
  list-style-type: none;
}

.header-key {
  color: var(--text-secondary-color);
}
