.line {
    background: #f8f8f9;
    border-left: 1px solid #dcdee2;
    border-right: 1px solid #dcdee2;
    // z-index: 100;
    &:hover {
        background: #68be8d;
    }
    > i {
        margin: 2px 0;
        display: flex;
        height: 1px;
        width: 100%;
        background: rgba(23,35,61,.25);
    }
}