:host {
  overflow: initial;

  .websocket-header {
    .ant-input,
    .ant-btn {
      height: 40px;
    }
  }
}

.top-line {
  border-top: 1px solid var(--BORDER);
}

.bottom-line {
  border-bottom: 1px solid var(--BORDER);
}

.left-1 {
  transform: translateX(-5px);
}

.status {
  border-radius: 5px;

  &.status_Connected {
    color: #158565;
    background-color: rgb(21 133 101 / 20%);
    box-shadow: 0 0 10px rgb(21 133 101 / 20%);
  }

  &.status_Disconnect {
    color: #640125;
    background-color: rgb(100 1 37 / 10%);
    box-shadow: 0 0 10px rgb(100 1 37 / 10%);
  }

  &.status_Connecting {
    color: #158565;
    background-color: rgb(21 133 101 / 10%);
    box-shadow: 0 0 10px rgb(21 133 101 / 10%);
  }
}

.send_icon {
  background-color: rgb(166 154 189 / 10%);
}

.get_icon {
  background-color: rgb(21 133 101 / 10%);
}

.start_icon {
  color: #158565;
  border: 1px solid #158565;
}

.end_icon {
  color: #8f2e14;
  border: 1px solid #8f2e14;
}

:host ::ng-deep {
  .main-bg {
    background-color: var(--BTN_SEC_BG_HOVER) !important;

    &:focus,
    &:active,
    &:target {
      background-color: var(--MAIN_BG) !important;
    }
  }

  .no-radius-select {
    .ant-select-selector {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-tabs-content-holder {
    overflow: auto;
  }

  .ant-tabs-content {
    height: 100%;
  }

  .headers {
    padding-left: 33px;

    ul {
      padding: 0;
    }
  }
}
