nz-content {
  background-color: var(--MAIN_BG);
}

:lang(zh) {
  .ant-select {
    width: 132px;
  }
}

.ant-layout {
  background-color: var(--MAIN_BG);
}

:lang(en) {
  .ant-select {
    width: 162px;
  }
}

.env-select {
  border-bottom: 1px solid var(--BORDER);
  background-color: var(--MAIN_BG);

  ::ng-deep {
    eo-ng-select eo-ng-select-top-control {
      border: none !important;
    }
  }
}

nz-divider {
  margin: 0.1em 0;
}

.tabs-bar {
  background-color: var(--SEC_BG);
  box-sizing: border-box;
  padding: 0;
  height: var(--PAGE_TABS_HEIGHT);
  display: flex;
  margin-bottom: -1px;
  align-items: center;
  justify-content: space-between;

  eo-tab {
    width: calc(100% - 200px);
  }
}

:host ::ng-deep {
  height: 100%;

  .content_container {
    border-top: 1px solid var(--BORDER);

    router-outlet + * {
      display: block;
      height: calc(var(--body-height) - var(--PAGE_TABS_HEIGHT));
      overflow: auto;
    }

    router-outlet + eo-api-test {
      overflow: unset;
    }
  }

  .ant-btn,
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    transition: none;
  }

  .has_tab_page {
    router-outlet + * {
      height: calc(var(--body-height) - var(--PAGE_TABS_HEIGHT) - var(--PAGE_INSIDE_TABS_HEIGHT));
    }
  }

  .ant-layout-sider-children {
    width: 100%;
  }

  .api-container-tabs {
    .ant-tabs-nav {
      height: var(--PAGE_TABS_HEIGHT);
    }

    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-evenly;

      .ant-tabs-tab {
        // flex: 1;
        width: 49%;
        justify-content: center;
        margin: 0;
      }
    }

    .ant-tabs-content {
      height: calc(var(--body-height) - var(--PAGE_TABS_HEIGHT));
    }
  }

  .share-group-tabset {
    .ant-tabs-nav {
      display: none;
    }
  }

  .ant-tabs-nav,
  .ant-tabs-extra-content {
    height: 43px;
  }

  .param-box-header {
    padding: 5px 15px;
    box-sizing: border-box;
  }
}

::ng-deep {
  .eo-env-preview {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  .env-selector-dropdown {
    width: 224px;
  }
}
