.history-title {
  border-bottom: 1px solid #eee;
}
.history-body {
  height: calc(100vh - var(--NAVBAR_HEIGHT) - 40px - 30px);
}
:host {
  ::ng-deep nz-tree-node-title {
    width: 0 !important;
  }
}
