  .method_text_GET {
    color: var(--BLUE_TAG_BG);
  }
  .method_text_POST {
    color: var(--GREEN_TAG_BG);
  }
  .method_text_DELETE {
    color: var(--RED_TAG_BG);
  }
  .method_text_HEAD {
    color: var(--YELLOW_TAG_BG);
  }
  .method_text_PATCH {
    color: var(--ORANGE_TAG_BG);
  }
  .method_text_PUT,
  .method_text_OPTIONS {
    color: var(--BLACK_TAG_BG);
  }

.icon {
  width: 30px;
  height: 30px;
  color: rgba(0,0,0,0.5);
  border-radius: 3px;
  font-size: 1.3em;
  transition: all .4s ease;
  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.history-title {
  border-bottom: 1px solid #eee;
}
.history-body {
  height: calc(100vh - 115px);
}
