.icon {
  width: 30px;
  height: 30px;
  color: rgba(0,0,0,0.5);
  border-radius: 3px;
  font-size: 1.3em;
  transition: all .4s ease;
  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.history-title {
  border-bottom: 1px solid #eee;
}
.history-body {
  height: calc(100vh - 165px);
}
