:root {
  --MAIN_THEME_COLOR: #f47023;
  --BTN_TEXT: #ffffff;
  --BTN_TEXT_RED: var(--RED_NORMAL);
  --BTN_TEXT_BLUE: var(--BLUE_NORMAL);
  --BTN_PRIMARY_TEXT: #ffffff;
  --BTN_PRIMARY_TEXT_HOVER: #ffffff;
  --BTN_PRIMARY_BG: #f47023;
  --BTN_PRIMARY_BG_HOVER: #ff8f4e;
  --BTN_PRIMARY_MORE_BG: #f47023;
  --BTN_PRIMARY_MORE_BG_HOVER: #ff8f4e;
  --BTN_PRIMARY_BORDER: transparent;
  --BTN_PRIMARY_BORDER_HOVER: transparent;
  --BTN_LIGHT_TEXT: var(--BLUE_NORMAL);
  --BTN_LIGHT_TEXT_HOVER: var(--BLUE_LIGHT);
  --BTN_LIGHT_BG: var(--MAIN_BG);
  --BTN_LIGHT_BG_HOVER: var(--HOVER_BG);
  --BTN_LIGHT_BORDER: var(--MAIN_BG);
  --BTN_LIGHT_BORDER_HOVER: var(--MAIN_BG);
}
