@import './themes/default.css';
//From EOUI
.ant-tabs-tab {
  padding: 8px 0;
}

.ant-tabs-tab {
  margin: 0 0 0 var(--PADDING); //编剧调整为主题的 padding
}
.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 14px;
}
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav,
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav {
  margin: 0 0 8px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 4px 40px 4px 16px;
  color: var(--NAV_TEXT_COLOR_DISABLED);
  background-color: var(--MAIN_BG);
}
.ant-btn-icon-only {
  width: 16px;
  height: 16px;
  padding: 2px 0;
  vertical-align: -2px;
}
.ant-btn-sm {
  padding: 0 9px;
}
.ant-modal-header {
  padding: 16px;
}
.ant-modal-body {
  padding: 16px;
}

.iconpark-icon {
  height: var(--ICONPARK_SIZE);
  vertical-align: middle;
  width: var(--ICONPARK_SIZE);
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0px;
}
.ant-tabs-tab {
  margin: 0 0 0 10px;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 var(--MARGIN);
}
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav,
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav {
  margin: 0;
}

.ant-btn-icon-only {
  width: 16px;
  height: 16px;
  padding: 2px 0;
  vertical-align: -2px;
}
.ant-btn-sm {
  padding: 0 9px;
}
.ant-badge-theme-color {
  .ant-badge-status-dot {
    background-color: var(--MAIN_THEME_COLOR);
  }
}

.ant-collapse-arrow {
  color: var(--ICON_BTN_COLOR);
}

.ant-btn-active {
  background: var(--NAVBAR_BTN_BG);
  border-color: transparent;
  color: var(--MAIN_TEXT);
}
.ant-select-tree-list-holder-inner {
  max-width: 500px;
}
.ant-spin-dot-item {
  background-color: var(--MAIN_THEME_COLOR);
}
.ant-form-item-label {
  font-weight: bold;
}
