:root {
  --page-navbar-height: 50px;
  --page-footer-toolbar-height: 30px;
  --page-nav-tabs-height: 43px;
  --page-nav-inside-tabs-height: 43px;
  --icon-size: 16px;
  /* Button icon right  */
  --btn-icon-margin: 5px;
  --border-radius: 4px;
  --padding: 15px 20px;
  --padding-x: 20px;
  --padding-y: 15px;
  --margin: 20px;
  --nav-item-border-size: 3px;
  --tree-item-height: 40px;
}
