:root {
  --page-navbar-height: 50px;
  --page-footer-toolbar-height: 30px;
  --page-nav-tabs-height: 43px;
  --page-nav-inside-tabs-height: 43px;
  --icon-size: 16px;
  /* Button icon right  */
  --btn-icon-margin: 5px;
  --border-radius: 4px;
  --padding: 15px 20px;
  --padding-x: 20px;
  --padding-y: 15px;

  --margin: 20px;
  --nav-item-border-size: 3px;
}

:root {
  --text-color: #333;
  --text-secondary-color: #999;
  --border-color: #d9d9d9;
  --shadow-color: #d9d9d9;
  --background-color: #fff;
  --bar-background-color: #f2f2f2;
  --primary-color: #00785a;
  --primary-hover-color: rgba(0, 120, 90, 0.8);
  --success-color: #00785a;
  --success-hover-color: #0aa07a;
  --success-shadow-color: #d9d9d9;
  --warning-color: #ed6a0c;
  --warning-shadow-color: #d9d9d9;
  --danger-color: #ff3c32;
  --danger-hover-color: #ff625a;
  --danger-shadow-color: #d9d9d9;
  --info-color: #2878ff;
  --info-hover-color: #498cff;
  --info-shadow-color: #d9d9d9;
  --item-active-background-color: rgba(0, 0, 0, 0.05);
  --item-hover-background-color: #d9d9d9;
  --disabled-text-color: #ccc;
  --disabled-border-color: #d9d9d9;
  --disabled-background-color: #f3f3f3;
  --scrollbar-track-background-color: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --layout-header-background-color: #fff;
  --layout-sider-text-color: #fff;
  --layout-sider-background-color: #fff;
  --layout-sider-item-active-text-color: #333;
  --layout-sider-item-active-color: rgba(0, 0, 0, 0.05);
  --layout-footer-text-color: #333;
  --layout-footer-background-color: #fff;
  --icon-text-color: #333;
  --button-shadow-color: #d9d9d9;
  --button-primary-text-color: #fff;
  --button-primary-background-color: #00785a;
  --button-primary-shadow-color: #d9d9d9;
  --button-default-text-color: #333;
  --button-default-background-color: #fff;
  --button-default-shadow-color: #d9d9d9;
  --button-danger-text-color: #ff3c32;
  --button-danger-background-color: #fff;
  --button-danger-shadow-color: #d9d9d9;
  --text-link-color: #1890ff;
  --text-link-hover-color: #40a9ff;
  --text-link-active-color: #096dd9;
  --divider-color: rgba(0, 0, 0, 0.06);
  --tabs-text-color: #333;
  --tabs-active-color: #00785a;
  --tabs-active-text-color: #333;
  --tabs-card-bar-background-color: #f2f2f2;
  --tabs-card-text-color: #333;
  --tabs-card-background-color: #fff;
  --tabs-card-active-color: #00785a;
  --tabs-card-active-text-color: #333;
  --tabs-card-active-background-color: #fff;
  --table-background-color: #fff;
  --table-header-text-color: #999;
  --table-header-background-color: #f2f2f2;
  --table-row-hover-background-color: #d9d9d9;
  --table-footer-background-color: #fff;
  --table-footer-text-color: #333;
  --tree-header-background-color: #fff;
  --tree-text-color: #333;
  --tree-background-color: #fff;
  --tree-selected-text-color: #333;
  --tree-selected-background-color: rgba(0, 0, 0, 0.05);
  --tree-hover-text-color: #333;
  --tree-hover-background-color: #d9d9d9;
  --dropdown-menu-background-color: #fff;
  --dropdown-item-hover-background-color: #d9d9d9;
  --menu-background-color: #fff;
  --menu-item-text-color: #333;
  --menu-item-group-title-text-color: #999;
  --menu-item-active-background-color: rgba(0, 120, 90, 0.8);
  --menu-item-active-color: #00785a;
  --menu-item-active-text-color: #00785a;
  --menu-inline-submenu-background-color: #f2f2f2;
  --select-border-color: #00785a;
  --select-background-color: #fff;
  --select-dropdown-background-color: #fff;
  --select-item-selected-text-color: #333;
  --select-item-selected-background-color: rgba(0, 0, 0, 0.05);
  --input-text-color: #333;
  --input-background-color: #fff;
  --input-icon-color: #999;
  --input-border-color: #00785a;
  --input-placeholder-color: #999;
  --modal-header-background-color: #fff;
  --modal-header-text-color: #333;
  --modal-content-background-color: #fff;
  --modal-footer-background-color: #fff;
  --modal-mask-background-color: rgba(0, 0, 0, 0.35);
  --pagination-item-background-color: #fff;
  --pagination-item-active-background-color: #fff;
  --pagination-button-background-color: #fff;
  --toast-success-text-color: #00785a;
  --toast-success-icon-color: #00785a;
  --toast-success-background-color: rgba(0, 120, 90, 0.9);
  --toast-warning-text-color: #ed6a0c;
  --toast-warning-icon-color: #ed6a0c;
  --toast-warning-background-color: rgba(237, 106, 12, 0.9);
  --toast-info-text-color: #2878ff;
  --toast-info-icon-color: #2878ff;
  --toast-info-background-color: rgba(40, 120, 255, 0.9);
  --toast-error-text-color: #ff3c32;
  --toast-error-icon-color: #ff3c32;
  --toast-error-background-color: rgba(255, 60, 50, 0.9);
  --alert-default-text-color: #333;
  --alert-default-icon-color: #333;
  --alert-default-background-color: rgba(149, 149, 149, 0.1);
  --alert-success-text-color: #00785a;
  --alert-success-icon-color: #00785a;
  --alert-success-background-color: rgba(0, 120, 90, 0.9);
  --alert-error-text-color: #ff3c32;
  --alert-error-icon-color: #ff3c32;
  --alert-info-text-color: #2878ff;
  --alert-info-icon-color: #2878ff;
  --alert-info-background-color: rgba(40, 120, 255, 0.9);
  --alert-error-background-color: rgba(255, 60, 50, 0.9);
  --alert-warning-text-color: #ed6a0c;
  --alert-warning-icon-color: #ed6a0c;
  --alert-warning-background-color: rgba(237, 106, 12, 0.9);
  --checkbox-text-color: #333;
  --checkbox-border-color: #d9d9d9;
  --checkbox-background-color: #fff;
  --checkbox-checked-background-color: #00785a;
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-text-color: #333;
  --radio-text-color: #333;
  --radio-border-color: #d9d9d9;
  --radio-background-color: #fff;
  --radio-checked-background-color: #00785a;
  --radio-checked-border-color: transparent;
  --radio-checked-text-color: #333;
  --switch-active-color: #00785a;
  --switch-bakcground-color: #fff;
  --switch-text-color: #fff;
  --switch-card-border-color: #d9d9d9;
  --switch-card-background-color: #fff;
  --switch-card-text-color: #333;
  --collapse-header-background-color: #f2f2f2;
  --collapse-contentbackground-color: #fff;
}
