<div class="eo-editor" [style.--eo-editor-height]="isNaN(minHeight) ? minHeight : minHeight + 'px'">
  <div class="button_list">
    <div class="btn flex" (click)="handleAction(item.event)" *ngFor="let item of buttonList">
      <eo-iconpark-icon class="mr5" name="{{item.icon}}" size="14px"></eo-iconpark-icon>
      <span>{{ item.label }}</span>
    </div>
  </div>
  <ace class="ace-editor" [config]="aceConfig" [disabled]="disabled" [(value)]="code" [mode]="editorType"
    (blur)="log($event, 'blur')" (focus)="log($event, 'focus')" (copy)="log($event, 'copy')"
    (paste)="log($event, 'paste')" (change)="handleChange()"></ace>
</div>
