.http,
.https {
  background-color: rgba(6, 125, 219, 1);
  border: 1px solid rgba(6, 125, 219, 1);
  color: #fff;
}

.ws,
.wss {
  background-color: rgba(71, 125, 168, 1);
  border: 1px solid rgba(71, 125, 168, 1);
  color: #fff;
}
