<section class="flex-shrink-0 p-0 left">
  <div class="mb-2">
    <eo-ng-input-group [nzPrefix]="prefixTemplateUser" class="rounded-full">
      <input
        type="text"
        eo-ng-input
        class="flex-1 w-full px-3"
        i18n-placeholder="@@Search"
        placeholder="Search"
        [(ngModel)]="keyword"
        (ngModelChange)="onSearchChange($event)"
      />
    </eo-ng-input-group>
    <ng-template #prefixTemplateUser
      ><svg class="iconpark-icon"><use href="#search"></use></svg
    ></ng-template>
  </div>
  <!-- Fixed Group -->
  <div class="group_container">
    <nz-tree
      [nzData]="fixedTreeNode"
      [nzSelectedKeys]="nzSelectedKeys"
      nzBlockNode
      (nzClick)="clickTreeItem($event)"
      [nzTreeTemplate]="nzFixedTreeTemplate"
    ></nz-tree>
    <ng-template #nzFixedTreeTemplate let-node let-origin="origin">
      <div class="pl-[18px] tree_node" *ngIf="node.origin?.isFixed">
        <div class="flex items-center">
          <eo-iconpark-icon name="home" class="mr10"></eo-iconpark-icon>
          <span class="text-omit node_title">{{ node.title }}</span>
        </div>
      </div>
    </ng-template>
  </div>
  <nz-divider class="!mt-[5px] !mb-[7px]"></nz-divider>
  <nz-tree
    [nzData]="treeNodes"
    [nzSelectedKeys]="nzSelectedKeys"
    #apiGroup
    [nzHideUnMatched]="true"
    (nzClick)="clickTreeItem($event)"
    nzBlockNode
    [nzTreeTemplate]="nzTreeTemplate"
  ></nz-tree>
  <ng-template #nzTreeTemplate let-node let-origin="origin">
    <div class="pl-[18px]">
      <div class="tree_node f_row f_js_ac" *ngIf="!node.origin?.isFixed && node.isLeaf">
        <div class="overflow-hidden flex items-center text-ellipsis">
          <span class="text-omit node_title">{{ node.title }}</span>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="node.component?.showIndicator" class="ant-tree-drop-indicator ng-star-inserted"
      style="bottom: -3px; left: 4px; right: 0px;"></div> -->
  </ng-template>
</section>
<section class="px-4 right flex-1">
  <router-outlet></router-outlet>
</section>
