::ng-deep .main {
  height: 100%;
  width: 100%;
  display: flex;

  .ant-tree-switcher {
    width: 0;
  }

  .left {
    border-right: 1px solid #f8f8f8;
    width: 250px;
    padding: 10px;

    .plugin-link {
      &:hover,
      &.active {
        color: var(--MAIN_THEME_COLOR);
        cursor: pointer;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .right {
    height: 100%;
  }
}
