::ng-deep .main {
  height: 100%;
  width: 100%;
  display: flex;

  .input {
    height: 30px;
    border: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;
    &::placeholder {
      color: rgba(0,0,0,0.5);
      font-size: 0.9em;
    }
  }
  .tree_node {
    font-size: 12px;
  }
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
   opacity: .8;
}

  .ant-tree-switcher {
    width: 0;
  }

  .left {
    border-right: 1px solid #f8f8f8;
    width: 250px;
    padding: 13px;

    .plugin-link {
      &:hover,
      &.active {
        color: var(--MAIN_THEME_COLOR);
        cursor: pointer;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .right {
    height: 100%;
  }
}
