@import '../api/group/tree/api-group-tree.component.scss';

:host ::ng-deep {
  height: 100%;
  width: 100%;
  display: flex;
  .ant-btn-link {
    padding: 0;
  }

  .left {
    border-right: 1px solid var(--BORDER);
    width: 250px;

    .plugin-link {
      &:hover,
      &.active {
        color: var(--MAIN_THEME_COLOR);
        cursor: pointer;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .right {
    height: 100%;
    overflow: hidden;
  }
}
