:host {
  display: inline-block;
  span {
    display: inline-block;
    padding: 1px 6px;
    border-radius: var(--DEFAULT_BORDER_RADIUS);
    font-size: 12px;
  }
  .all {
    color: rgba(119, 40, 245, 1);
    & .bg {
      background-color: rgba(119, 40, 245, 0.15);
    }
  }
  .all.ignore {
    background-color: transparent;
  }
  .get {
    color: rgba(6, 125, 219, 1);
    border: 1px solid rgba(6, 125, 219, 0.15);
    background-color: rgba(6, 125, 219, 0.15);
  }
  .get.ignore {
    border: 1px solid transparent;
    background-color: transparent;
  }
  .post,
  .ws,
  .tcp,
  .udp,
  .hsf,
  .dubbo,
  .grpc {
    color: rgba(6, 125, 219, 1);
    background-color: rgba(6, 125, 219, 0.15);
    border: 1px solid rgba(6, 125, 219, 0.15);
  }
  .post.ignore,
  .ws.ignore,
  .tcp.ignore,
  .udp.ignore,
  .hsf.ignore,
  .dubbo.ignore,
  .grpc.ignore {
    background-color: transparent;
    border: 1px solid transparent;
  }
  .put {
    color: rgba(216, 131, 12, 1);
    background-color: rgba(216, 131, 12, 0.15);
    border: 1px solid rgba(216, 131, 12, 0.15);
  }
  .put.ignore {
    background-color: transparent;
  }
  .delete {
    color: rgba(194, 22, 27, 1);
    background-color: rgba(194, 22, 27, 0.15);
    border: 1px solid rgba(194, 22, 27, 0.15);
  }
  .delete.ignore {
    background-color: transparent;
  }
  .head {
    color: rgba(238, 196, 12, 1);
    background-color: rgba(238, 196, 12, 0.15);
    border: 1px solid rgba(238, 196, 12, 0.15);
  }
  .head.ignore {
    border: 1px solid transparent;
    background-color: transparent;
  }
  .options {
    color: rgba(14, 90, 179, 1);
    border: 1px solid rgba(14, 90, 179, 0.15);
    background-color: rgba(14, 90, 179, 0.15);
  }
  .options.ignore {
    border: 1px solid transparent;
    background-color: transparent;
  }
  .patch {
    color: rgba(237, 134, 58, 1);
    border: 1px solid rgba(238, 196, 12, 0.15);
    background-color: rgba(237, 134, 58, 0.15);
  }
  .patch.ignore {
    border: 1px solid transparent;
    background-color: transparent;
  }
}
