:host ::ng-deep {
  .ant-descriptions-item-label {
    width: 112px;
    position: relative;
    padding-right: 16px;
    justify-content: flex-end;
  }

  .ant-descriptions-item-label::after {
    position: absolute;
    right: 0;
  }

  .ant-descriptions-item-content {
    @apply truncate;

    max-width: 250px;
    display: block;
  }

  .ant-descriptions-view table {
    width: initial;
  }
}

.favor-image {
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.favor-image-link {
  background-color: #eee;
  border-radius: 50%;
  padding: 13px;
}
