.alert-text {
  color: var(--text-color);
}

.alert-title {
  color: #00785a;
}

.copy-btn {
  color: var(--text-color);
  background-color: rgb(0 0 0 / 0%);

  &:hover {
    background-color: rgb(0 0 0 / 0%);
  }
}
