<nz-list nzItemLayout="horizontal" [nzLoading]="loading">
  <nz-list-item *ngFor="let item of list">
    <a class="flex items-center justify-between w-full">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <div class="flex flex-col">
            <span class="font-bold link">{{ item.username }}</span>
            <span class="text-tips">{{ item.email || item.mobilePhone }}</span>
          </div>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <div class="flex w-[170px] items-center justify-between">
            <span>{{ item.roleTitle }}</span>
            <div class="operate-btn-list" *ngIf="item.myself || store.getProjectRole === 'admin'">
              <button eo-ng-button eo-ng-dropdown [nzDropdownMenu]="menu"> <eo-iconpark-icon name="more"></eo-iconpark-icon> </button>
              <eo-ng-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li *ngIf="!item.myself && store.getProjectRole === 'admin'" nz-menu-item i18n (click)="changeRole(item)"
                    >Set {{ item.role.name === 'Owner' ? 'Editor' : 'Owner' }}
                  </li>
                  <li *ngIf="!item.myself && store.getProjectRole === 'admin'" nz-menu-item i18n (click)="removeMember(item)">Remove</li>
                  <li *ngIf="item.myself" nz-menu-item i18n (click)="quitProject(item)">Quit</li>
                </ul>
              </eo-ng-dropdown-menu>
            </div>
          </div>
        </nz-list-item-action>
      </ul>
    </a>
  </nz-list-item>
  <nz-list-empty *ngIf="list.length === 0"></nz-list-empty>
</nz-list>
