@mixin hover-item {
  transition: border 0.2s;

  &:hover {
    border-color: var(--BTN_PRIMARY_BG);
  }
}

:host {
  @apply block;

  .list-type-switcher {
    .active {
      color: var(--BTN_PRIMARY_BG);
    }
  }

  .ant-card {
    @include hover-item;
  }
}

:host ::ng-deep {
  .ant-list-item {
    @apply px-[10px] rounded-[3px];

    border: 1px solid transparent;
  }
}
