.overview_container{
    padding: 20px 30px;
}

.card_item {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
}

