.overview_container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}