:root {
  --bar-background-color: #464646;
  --background-color: #333333;
  --SEC_BG: #292929;
  --layout-header-background-color: #222222;
  --item-active-background-color: #5a5a5a;
  --item-active-background-color_HOVER: #6e6e6e;
  --NAVBAR_BTN_MORE_BG: #333333;
  --disabled-background-color: rgba(255, 255, 255, 0.05);
  --item-hover-background-color: rgba(255, 255, 255, 0.05);
  --ACTIVE_BG: rgba(255, 255, 255, 0.15);
  --text-color: #e7e7e7;
  --SEC_TEXT: #cccccc;
  --disabled-text-color: #666666;
  --border-color: #464646;
  --divider-color: #2e2e2e;
  --SHADOW: rgba(0, 0, 0, 0.1);
  --modal-mask-background-color: rgba(0, 0, 0, 0.35);
  --scrollbar-thumb-background-color_BG: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-background-color: rgba(255, 255, 255, 0.2);
  --SORT_BAR: #0000000a;
  --CHART_BG: #3c3c3c;
  --success-color: #00785a;
  --GREEN_LIGHT: #0aa07a;
  --GREEN_DEEP: #05654d;
  --GREEN_DEEPER: #085542;
  --info-color: #7da7ef;
  --BLUE_LIGHT: #94b7f3;
  --BLUE_DEEP: #4c87eb;
  --BLUE_DEEPER: #3c7ce9;
  --danger-color: #ff3c32;
  --RED_LIGHT: #ff625a;
  --RED_DEEP: #e6362d;
  --RED_DEEPER: #ce3129;
  --button-default-text-color: var(--button-primary-text-color);
  --button-default-text-color_HOVER: var(--button-primary-text-color);
  --button-default-background-color: #646464;
  --bar-background-color: #787878;
  --BTN_SEC_MORE_BG: #646464;
  --BTN_SEC_MORE_BG_HOVER: #787878;
  --BTN_SEC_BORDER: transparent;
  --BTN_SEC_BORDER_HOVER: transparent;
  --BTN_DANGER_TEXT: var(--button-primary-text-color);
  --BTN_DANGER_TEXT_HOVER: var(--button-primary-text-color);
  --BTN_DANGER_BG: var(--danger-color);
  --BTN_DANGER_BG_HOVER: var(--RED_LIGHT);
  --BTN_DANGER_MORE_BG: var(--RED_DEEPER);
  --BTN_DANGER_MORE_BG_HOVER: var(--RED_DEEP);
  --BTN_DANGER_BORDER: transparent;
  --BTN_DANGER_BORDER_HOVER: transparent;
}
