:root {
  --bar-bg-color: #464646;
  --MAIN_BG: #333333;
  --SEC_BG: #292929;
  --NAVBAR_BG: #222222;
  --NAVBAR_BTN_BG: #5a5a5a;
  --NAVBAR_BTN_BG_HOVER: #6e6e6e;
  --NAVBAR_BTN_MORE_BG: #333333;
  --DISABLE_BG: rgba(255, 255, 255, 0.05);
  --HOVER_BG: rgba(255, 255, 255, 0.05);
  --ACTIVE_BG: rgba(255, 255, 255, 0.15);
  --MAIN_TEXT: #e7e7e7;
  --SEC_TEXT: #cccccc;
  --DISABLE_TEXT: #666666;
  --BORDER: #464646;
  --DIVIDER: #2e2e2e;
  --SHADOW: rgba(0, 0, 0, 0.1);
  --MASK: rgba(0, 0, 0, 0.35);
  --SCROLL_BAR_BG: rgba(255, 255, 255, 0.05);
  --SCROLL_BAR: rgba(255, 255, 255, 0.2);
  --SORT_BAR: #0000000a;
  --FOOTER_BG: var(--MAIN_BG);
  --FOOTER_TEXT: var(--MAIN_TEXT);
  --CHART_BG: #3c3c3c;
  --GREEN_NORMAL: #00785a;
  --GREEN_LIGHT: #0aa07a;
  --GREEN_DEEP: #05654d;
  --GREEN_DEEPER: #085542;
  --BLUE_NORMAL: #7da7ef;
  --BLUE_LIGHT: #94b7f3;
  --BLUE_DEEP: #4c87eb;
  --BLUE_DEEPER: #3c7ce9;
  --RED_NORMAL: #ff3c32;
  --RED_LIGHT: #ff625a;
  --RED_DEEP: #e6362d;
  --RED_DEEPER: #ce3129;
  --BTN_SEC_TEXT: var(--BTN_TEXT);
  --BTN_SEC_TEXT_HOVER: var(--BTN_TEXT);
  --BTN_SEC_BG: #646464;
  --BTN_SEC_BG_HOVER: #787878;
  --BTN_SEC_MORE_BG: #646464;
  --BTN_SEC_MORE_BG_HOVER: #787878;
  --BTN_SEC_BORDER: transparent;
  --BTN_SEC_BORDER_HOVER: transparent;
  --BTN_DANGER_TEXT: var(--BTN_TEXT);
  --BTN_DANGER_TEXT_HOVER: var(--BTN_TEXT);
  --BTN_DANGER_BG: var(--RED_NORMAL);
  --BTN_DANGER_BG_HOVER: var(--RED_LIGHT);
  --BTN_DANGER_MORE_BG: var(--RED_DEEPER);
  --BTN_DANGER_MORE_BG_HOVER: var(--RED_DEEP);
  --BTN_DANGER_BORDER: transparent;
  --BTN_DANGER_BORDER_HOVER: transparent;
}
