/**颜色集合**/
:root {
  --bar-bg-color: #f2f2f2;
  --MAIN_BG: #ffffff;
  --SEC_BG: #f2f2f2;
  --NAVBAR_BG: #f8f8fa;
  --NAVBAR_BTN_BG: rgba(0, 0, 0, 0.1);
  --NAVBAR_BTN_BG_HOVER: rgba(0, 0, 0, 0.1);
  --NAVBAR_BTN_MORE_BG: rgba(0, 0, 0, 0.1);
  --DISABLE_BG: #f3f3f3;
  --HOVER_BG: #f3f3f3;
  --ACTIVE_BG: #f3f3f3;
  --MAIN_TEXT: #333333;
  --SEC_TEXT: #888888;
  --DISABLE_TEXT: #cccccc;
  --BORDER: #e8e8e8;
  --DIVIDER: #f3f3f3;
  --SHADOW: rgba(0, 0, 0, 0.1);
  --MASK: rgba(0, 0, 0, 0.35);
  --SCROLL_BAR_BG: rgba(0, 0, 0, 0.05);
  --SCROLL_BAR: rgba(0, 0, 0, 0.2);
  --SORT_BAR: #0000000a;
  --FOOTER_BG: var(--MAIN_BG);
  --FOOTER_TEXT: var(--MAIN_TEXT);
  --CHART_BG: #ffffff;
  --GREEN_NORMAL: #00785a;
  --GREEN_LIGHT: #0aa07a;
  --GREEN_DEEP: #05654d;
  --GREEN_DEEPER: #085542;
  --BLUE_NORMAL: #2878ff;
  --BLUE_LIGHT: #498cff;
  --BLUE_DEEP: #2a6cde;
  --BLUE_DEEPER: #265fc2;
  --RED_NORMAL: #ff3c32;
  --RED_LIGHT: #ff625a;
  --RED_DEEP: #e6362d;
  --RED_DEEPER: #ce3129;
  --BTN_SEC_TEXT: #000000;
  --BTN_SEC_TEXT_HOVER: #000000;
  --BTN_SEC_BG: #ffffff;
  --BTN_SEC_BG_HOVER: #f8f8f8;
  --BTN_SEC_MORE_BG: #ffffff;
  --BTN_SEC_MORE_BG_HOVER: #f8f8f8;
  --BTN_SEC_BORDER: #dcdcdc;
  --BTN_SEC_BORDER_HOVER: #dcdcdc;
  --BTN_DANGER_TEXT: var(--BTN_TEXT);
  --BTN_DANGER_TEXT_HOVER: var(--BTN_TEXT);
  --BTN_DANGER_BG: var(--RED_NORMAL);
  --BTN_DANGER_BG_HOVER: var(--RED_LIGHT);
  --BTN_DANGER_MORE_BG: var(--RED_DEEPER);
  --BTN_DANGER_MORE_BG_HOVER: var(--RED_DEEP);
  --BTN_DANGER_BORDER: transparent;
  --BTN_DANGER_BORDER_HOVER: transparent;
}
