/**颜色集合**/
:root {
  --bar-background-color: #f2f2f2;
  --background-color: #ffffff;
  --SEC_BG: #f2f2f2;
  --layout-header-background-color: #f8f8fa;
  --item-active-background-color: rgba(0, 0, 0, 0.1);
  --item-active-background-color_HOVER: rgba(0, 0, 0, 0.1);
  --NAVBAR_BTN_MORE_BG: rgba(0, 0, 0, 0.1);
  --disabled-background-color: #f3f3f3;
  --item-hover-background-color: #f3f3f3;
  --ACTIVE_BG: #f3f3f3;
  --text-color: #333333;
  --SEC_TEXT: #888888;
  --disabled-text-color: #cccccc;
  --border-color: #e8e8e8;
  --divider-color: #f3f3f3;
  --SHADOW: rgba(0, 0, 0, 0.1);
  --modal-mask-background-color: rgba(0, 0, 0, 0.35);
  --scrollbar-thumb-background-color_BG: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --SORT_BAR: #0000000a;
  --FOOTER_TEXT: var(--text-color);
  --CHART_BG: #ffffff;
  --success-color: #00785a;
  --GREEN_LIGHT: #0aa07a;
  --GREEN_DEEP: #05654d;
  --GREEN_DEEPER: #085542;
  --info-color: #2878ff;
  --BLUE_LIGHT: #498cff;
  --BLUE_DEEP: #2a6cde;
  --BLUE_DEEPER: #265fc2;
  --danger-color: #ff3c32;
  --RED_LIGHT: #ff625a;
  --RED_DEEP: #e6362d;
  --RED_DEEPER: #ce3129;
  --button-default-text-color: #000000;
  --button-default-text-color_HOVER: #000000;
  --button-default-background-color: #ffffff;
  --bar-background-color: #f8f8f8;
  --BTN_SEC_MORE_BG: #ffffff;
  --BTN_SEC_MORE_BG_HOVER: #f8f8f8;
  --BTN_SEC_BORDER: #dcdcdc;
  --BTN_SEC_BORDER_HOVER: #dcdcdc;
  --BTN_DANGER_TEXT: var(--button-primary-text-color);
  --BTN_DANGER_TEXT_HOVER: var(--button-primary-text-color);
  --BTN_DANGER_BG: var(--danger-color);
  --BTN_DANGER_BG_HOVER: var(--RED_LIGHT);
  --BTN_DANGER_MORE_BG: var(--RED_DEEPER);
  --BTN_DANGER_MORE_BG_HOVER: var(--RED_DEEP);
  --BTN_DANGER_BORDER: transparent;
  --BTN_DANGER_BORDER_HOVER: transparent;
}
