:root {
  --primary-color: #673ab7;
  --button-primary-text-color: #ffffff;
  --button-primary-text-color_RED: var(--danger-color);
  --button-primary-text-color_BLUE: var(--info-color);
  --button-primary-text-color: #ffffff;
  --button-primary-text-color_HOVER: #ffffff;
  --button-primary-background-color: #673ab7;
  --button-primary-background-color_HOVER: #7e57c2;
  --BTN_PRIMARY_MORE_BG: #673ab7;
  --BTN_PRIMARY_MORE_BG_HOVER: #7e57c2;
  --BTN_PRIMARY_BORDER: transparent;
  --BTN_PRIMARY_BORDER_HOVER: transparent;
  --BTN_LIGHT_TEXT: var(--info-color);
  --BTN_LIGHT_TEXT_HOVER: var(--BLUE_LIGHT);
  --primary-color: var(--background-color);
  --item-hover-background-color: var(--item-hover-background-color);
  --BTN_LIGHT_BORDER: var(--background-color);
  --BTN_LIGHT_BORDER_HOVER: var(--background-color);
}