:host ::ng-deep {
  .ant-skeleton-content {
    padding: 10px;
  }
  .group-tree {
    overflow: hidden auto;
    height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - 80px);
  }
  eo-ng-tree-default-node:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ant-tree-treenode {
    padding: initial;
    align-items: center;
    margin: 0px 0px;
    border-radius: initial;
    height: 40px;
  }
  eo-ng-tree-default-node:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ant-tree-node-content-wrapper {
    @apply h-[40px] leading-[40px];
    &:hover {
      background-color: initial;
    }
  }
  nz-tree-node-title {
    background-color: initial;
    position: relative;
  }
  .ant-tree-treenode-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .dragging::after {
    display: none;
    animation: initial;
  }
  .ant-tree-node-content-wrapper {
    // width: 100%;
    flex: auto;
  }
  .ant-tree-indent-unit {
    width: 24px;
  }
  .ant-tree-switcher {
    width: 24px;
  }
  .width-box {
    width: 24px;
    height: 24px;
  }
}

.ant-dropdown-menu {
  min-width: 100px;
}
.method_text {
  max-width: 50px;
  min-width: 32px;
  font-size: 14px;
  font-weight: 700;
}

.tree_node {
  font-size: 12px;
  white-space: nowrap;
  .tree_node_operate {
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
  }
  &:hover .tree_node_operate {
    visibility: visible;
  }
}
