.input {
  height: 30px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
  }
  &:hover {
    border-color: #158565;
  }
}
.btn {
  width: 32px;
  background-color: var(--BTN_PRIMARY_BG);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
::ng-deep {
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 10px 5px 10px;
  }
  .ant-tabs-nav {
    height: 35px;
  }
  .ant-tree .ant-tree-treenode {
    padding: 0;
    margin: 2px 0;
    border-radius: 3px;
    transition: all 0.3s, border 0s, line-height 0s, box-shadow 0s;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  .ant-tree-treenode-selected {
    background-color: var(--NAVBAR_BTN_BG);
  }
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent;
    transition: none;
  }
  .ant-tree-node-selected * {
    // color: var(--TEXT_ACTIVE);
  }
  .ant-tree-list-holder-inner {
    .nz-tree-node:first {
      border-bottom: 1px solid var(--BORDER);
    }
  }
  .fixed_group_tree {
    padding-top: 4px;
    nz-tree-node-switcher {
      display: none;
    }
  }
}
::ng-deep .group_tree {
  overflow: hidden auto;
  height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - 120px);
  .ant-tree-indent-unit {
    width: 8px;
  }
  .ant-tree {
    .ant-tree-node-content-wrapper {
      padding: 0 2px;
    }
  }
}
.ant-dropdown-menu {
  min-width: 100px;
}
.method_text {
  max-width: 50px;
  min-width: 32px;
  font-size: 11px;
  font-weight: 300;
}
.node_title {
  max-width: 145px;
}
.tree_node {
  font-size: 12px;
  white-space: nowrap;
  width: calc(100% - var(--tree-level) * 8px - 20px);
  .tree_node_operate {
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
  }
  &:hover .tree_node_operate {
    visibility: visible;
  }
}
