:host ::ng-deep {
  .group-tree {
    overflow: hidden auto;
    height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - 80px);
  }
  eo-ng-tree-default-node:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ant-tree-treenode {
    padding: initial !important;
    align-items: center !important;
    margin: 0px 0px !important;
    border-radius: initial !important;
    height: 40px !important;
  }
  eo-ng-tree-default-node:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .ant-tree-node-content-wrapper:hover {
    background-color: initial !important;
  }
  nz-tree-node-title {
    background-color: initial !important;
    position: relative !important;
  }
  .ant-tree-treenode-selected {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .dragging::after {
    animation: initial !important;
  }
  .ant-tree-node-content-wrapper {
    // width: 100%;
    flex: auto;
  }
  .ant-tree-switcher {
    width: 24px;
  }
  .width-box {
    width: 24px;
    height: 24px;
  }
}

.ant-dropdown-menu {
  min-width: 100px;
}
.method_text {
  max-width: 50px;
  min-width: 32px;
  font-size: 11px;
  font-weight: 700;
}

.tree_node {
  font-size: 12px;
  white-space: nowrap;
  .tree_node_operate {
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
  }
  &:hover .tree_node_operate {
    visibility: visible;
  }
}
