:host ::ng-deep {
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 10px 5px 10px;
  }
  .ant-tree .ant-tree-treenode {
    padding: 0;
    margin: 2px 0;
    border-radius: 3px;
    transition: all 0.3s, border 0s, line-height 0s, box-shadow 0s;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  .ant-tree-treenode-selected {
    background-color: var(--NAVBAR_BTN_BG);
  }
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent;
    transition: none;
  }
  .ant-tree-node-selected * {
    // color: var(--TEXT_ACTIVE);
  }
  .ant-tree-list-holder-inner {
    .nz-tree-node:first {
      border-bottom: 1px solid var(--BORDER);
    }
  }
  .fixed_group_tree {
    padding-top: 4px;
    nz-tree-node-switcher {
      display: none;
    }
  }
  .group-tree {
    overflow: hidden auto;
    height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - 80px);
    .ant-tree-indent-unit {
      width: 8px;
    }
    .ant-tree {
      .ant-tree-node-content-wrapper {
        padding: 0 2px;
        width: 0;
      }
    }
  }
}


.ant-dropdown-menu {
  min-width: 100px;
}
.method_text {
  max-width: 50px;
  min-width: 32px;
  font-size: 11px;
  font-weight: 300;
}

.tree_node {
  font-size: 12px;
  white-space: nowrap;
  .tree_node_operate {
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
  }
  &:hover .tree_node_operate {
    visibility: visible;
  }
}
