<eo-navbar></eo-navbar>
<eo-user-modal></eo-user-modal>
<div
  class="page-body"
  [ngClass]="{ 'web-page-body': !electron.isElectron, 'pc-page-body': electron.isElectron }"
  [style.--remote-notification-height]="isShowNotification ? '40px' : '0px'"
>
  <eo-local-workspace-tip [(isShow)]="isShowNotification"></eo-local-workspace-tip>
  <div class="home_container f_row">
    <eo-sidebar></eo-sidebar>
    <div class="home fg1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<eo-toolbar></eo-toolbar>
