<eo-navbar></eo-navbar>
<eo-user-modal></eo-user-modal>
<div
  class="page-body"
  [ngClass]="{ 'web-page-body': !electron.isElectron, 'pc-page-body': electron.isElectron }"
  [style.--remote-notification-height]="isShowNotification && electron.isElectron ? '40px' : '0px'"
>
  <div *ngIf="!isRemote && isShowNotification && electron.isElectron" class="remote-notification">
    <eo-iconpark-icon
      name="{{ isRemote ? 'link-cloud-sucess' : 'link-cloud-faild' }}"
      class="text-[13px] mr-[5px]"
    ></eo-iconpark-icon>
    <span i18n>The current data is stored locally,If you want to collaborate,Please</span>
    <button class="ml-[5px]" nz-button nzType="default" nzSize="small" (click)="switchToTheCloud()" i18n>
      switch to the cloud workspace
    </button>
    <eo-iconpark-icon name="close-small" class="absolute right-[20px] cursor-pointer"></eo-iconpark-icon>
  </div>
  <div class="home_container f_row">
    <eo-sidebar></eo-sidebar>
    <div class="home fg1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<eo-toolbar></eo-toolbar>
