<eo-navbar></eo-navbar>
<div [style.--remote-notification-height]="isShowNotification && isElectron ? '50px' : '0px'">
  <div *ngIf="isShowNotification && isElectron" class="remote-notification">
    <i nz-icon [nzType]="isRemote ? 'cloud' : 'exclamation-circle'" nzTheme="outline" class="text-[13px] mr-[2px]"></i>
    目前数据储存在{{dataSourceText}}，如需协作请切换
    <a class="eo-blod" (click)="switchDataSource()">{{ isRemote ? '本地' : '远程' }}数据源</a>
    <i nz-icon nzType="close" nzTheme="outline" class="absolute right-[20px] cursor-pointer"
      (click)="closeNotification()"></i>
  </div>
  <div class="home_container f_row">
    <eo-setting></eo-setting>
    <eo-sidebar></eo-sidebar>
    <div class="home fg1">
      <router-outlet *ngIf="!loadedIframe"></router-outlet>
      <iframe *ngIf="!this.sidebar.currentModule.isOffical" id="app_iframe" frameborder="no" border="0"
        style="width: calc(100vw - 90px);height: calc(100vh - var(--NAVBAR_HEIGHT) - 4px);"></iframe>
    </div>
  </div>
</div>
<!-- <eo-toolbar></eo-toolbar> -->