:host {
  --body-height: calc(100vh - var(--NAV_TOP) - var(--FOOTER_HEIGHT) - var(--remote-notification-height, 0px));
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.page-body {
  height: var(--body-height);
}

.home_container {
  height: 100%;
  // height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--remote-notification-height, 0px) - 1px);
}
.home {
  background-color: var(--MAIN_BG);
  color: var(--MAIN_TEXT);
  overflow: hidden;
}
.remote-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--remote-notification-height, 0px);
  background-color: rgb(255, 219, 7);
  overflow: hidden;
}
::ng-deep {
  eo-api {
    height: 100%;

    router-outlet + * {
      display: block;
      height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - var(--remote-notification-height) - var(--API_TABS_HEIGHT));
      overflow: auto;
    }
    router-outlet + eo-api-test {
      overflow: unset;
    }

    .has_tab_page + * {
      router-outlet + * {
        height: calc(
          100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - var(--remote-notification-height) - 74px
        );
      }
    }
  }
  eo-extension {
    router-outlet + * {
      display: block;
      height: calc(100vh - var(--NAVBAR_HEIGHT) - var(--FOOTER_HEIGHT) - var(--remote-notification-height));
      overflow: auto;
    }
  }
}

