.env-select {
  --select-background-color: var(--background-color);

  border-bottom: 1px solid var(--border-color);
}

nz-divider {
  margin: 0.1em 0;
}

:host ::ng-deep {
  eo-ng-select eo-ng-select-top-control {
    border: none !important;
  }

  .ant-select {
    width: calc(100% - 40px);
  }
}

.content {
  color: var(--text-color);
}

.title {
  background-color: var(--item-active-background-color);
  color: var(--text-color);
}

::ng-deep {
  .env-selector-dropdown {
    width: 224px;
  }

  .preview-env .ant-popover-inner-content {
    padding: 0;
  }
}
