// @import "tailwindcss/base";
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../../node_modules/eo-ng-checkbox/styles.scss';
@import '../../../node_modules/eo-ng-select/styles.scss';

@import '../../../node_modules/eo-ng-button/styles.scss';
@import '../../../node_modules/eo-ng-radio/styles.scss';
@import '../../../node_modules/eo-ng-checkbox/styles.scss';
@import '../../../node_modules/eo-ng-input/styles.scss';
@import '../../../node_modules/eo-ng-auto-complete/styles.scss';

@import '../../../node_modules/eo-ng-tabs/styles.scss';
@import '../../../node_modules/eo-ng-tree/styles.scss';
@import '../../../node_modules/eo-ng-table/styles.scss';
@import '../../../node_modules/eo-ng-feedback/styles.scss';

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
:root {
  --NAVBAR_HEIGHT: 50px;
  --FOOTER_HEIGHT: 30px;
  --PAGE_TABS_HEIGHT: 48px;
  --PAGE_INSIDE_TABS_HEIGHT: 40px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: unset;
  vertical-align: unset;
}

.method_text_GET {
  color: var(--BLUE_TAG_BG);
}
.method_text_POST {
  // color: var(--GREEN_TAG_BG);
  @apply text-green-700;
}
.method_text_DELETE {
  color: var(--RED_TAG_BG);
}
.method_text_HEAD {
  color: var(--YELLOW_TAG_BG);
}
.method_text_WS {
  color: #507ea4;
}
.method_text_WSS {
  color: #165e83;
}
.method_text_PATCH {
  color: var(--ORANGE_TAG_BG);
}
.method_text_PUT {
  color: #82ae46;
}
.method_text_OPTIONS {
  color: var(--BLACK_TAG_BG);
}


::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--SCROLL_BAR);
  border-color: #eee0;
  border-style: solid;
  border-radius: 50px;
  // border-width: 4px;
}
::-webkit-scrollbar-track {
  // background-color: var(--SCROLL_BAR_BG);
  border-color:transparent;
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

.electron-can-be-click {
  -webkit-app-region: no-drag;
}
.text-omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nz-resize-handle.container-draggable {
  display: block;
  flex: none;
  top: 0;
  z-index: 10;
  background-color: var(--BORDER);
  &:hover {
    background-color: var(--MAIN_THEME_COLOR);
  }
  &.vertical {
    cursor: col-resize;
    width: 1px;
    &:hover {
      width: 3px;
    }
  }
  &.nz-resizable-handle-left {
    left: 0;
  }
  &.nz-resizable-handle-right {
    right: 0;
  }

  &.horizontal {
    width: 100%;
    cursor: row-resize;
    height: 1px;
    &:hover {
      height: 3px;
    }
  }
}

.table-border-all {
  .eo-ng-table {
    border: 1px solid var(--BORDER);
  }
}
.border-all{
  border: 1px solid var(--BORDER);
}