// @import "tailwindcss/base";
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../../node_modules/eo-ng-button/styles.scss';

@import '../../../node_modules/eo-ng-tree/styles.scss';
@import '../../../node_modules/eo-ng-feedback/styles.scss';
@import '../../../node_modules/eo-ng-checkbox/styles.scss';
@import '../../../node_modules/eo-ng-select/styles.scss';

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
:root {
  --NAVBAR_HEIGHT: 50px;
  // --FOOTER_HEIGHT: 0px;
  --FOOTER_HEIGHT: 30px;
  --API_TABS_HEIGHT: 36px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: unset;
  vertical-align: unset;
}

.method_text_GET {
  color: var(--BLUE_TAG_BG);
}
.method_text_POST {
  color: var(--GREEN_TAG_BG);
}
.method_text_DELETE {
  color: var(--RED_TAG_BG);
}
.method_text_HEAD {
  color: var(--YELLOW_TAG_BG);
}
.method_text_WS {
  color: #507ea4;
}
.method_text_WSS {
  color: #165e83;
}
.method_text_PATCH {
  color: var(--ORANGE_TAG_BG);
}
.method_text_PUT {
  color: #82ae46;
}
.method_text_OPTIONS {
  color: var(--BLACK_TAG_BG);
}
.eo-search-input {
  height: 32px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
  }
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--SCROLL_BAR);
  border-color: #eee0;
  border-style: solid;
  border-radius: 50px;
  border-width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--SCROLL_BAR_BG);
  border-color: var(--BORDER);
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}


.electron-can-be-click {
  -webkit-app-region: no-drag;
}
.text-omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
