<div class="eo_navbar f_row f_js_ac">
  <div>
    <img class="logo" src="assets/images/logo.svg" />
    <a href="https://github.com/eolinker/eoapi" target="_blank">
      <img class="mx-4" src="https://img.shields.io/github/stars/eolinker/eoapi?style=social" alt="" />
    </a>
  </div>
  <div class="flex items-center">
    <span
      class="flex items-center justify-center mx-1 icon"
      i18n-title
      title="Open Settings"
      (click)="handleShowModal()"
    >
      <eo-iconpark-icon name="setting-two"></eo-iconpark-icon>
    </span>
    <!-- <span
      i18n-title
      class="flex items-center justify-center mx-1 icon"
      title="{{ dataSourceText }}数据源"
      (click)="switchDataSource()"
    >
      <eo-iconpark-icon [name]="isRemote ? 'link-cloud-sucess' : 'link-cloud-faild'"></eo-iconpark-icon>
    </span> -->
    <span class="flex items-center justify-center mx-1 icon" nz-dropdown [nzDropdownMenu]="menu">
      <eo-iconpark-icon name="help"> </eo-iconpark-icon>
    </span>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <a href="https://docs.eoapi.io" target="_blank" nz-menu-item i18n>Document</a>
        <a href="https://developer.eoapi.io" target="_blank" nz-menu-item i18n>Developer Support</a>
        <li nz-menu-divider></li>
        <a href="https://github.com/eolinker/eoapi/issues" target="_blank" nz-menu-item i18n>Report Issue</a>
      </ul>
    </nz-dropdown-menu>
    <div *ngIf="!OS_TYPE.includes('mac') && isElectron">
      <span
        nz-tooltip
        i18n-nzTooltipTitle
        nzTooltipTitle="Minimize"
        nzTooltipPlacement="left"
        class="iconfont icon-jianhao mr10 fs24 cp"
        (click)="minimize()"
      >
      </span>
      <span
        nz-tooltip
        i18n-nzTooltipTitle
        [nzTooltipTitle]="isMaximized ? 'Restore' : 'Maximize'"
        nzTooltipPlacement="left"
        class="iconfont icon-{{ isMaximized ? 'copy' : 'duoxuanweixuanzhong' }} mr10 fs24 cp"
        (click)="toggleMaximize()"
      >
      </span>
      <span
        nz-tooltip
        i18n-nzTooltipTitle
        nzTooltipTitle="Close"
        nzTooltipPlacement="left"
        class="iconfont icon-guanbi pr15 fs24 cp"
        (click)="close()"
      >
      </span>
    </div>
    <div *ngIf="!isElectron">
      <div class="btn py-1.5 px-2 mx-1 flex items-center" nz-dropdown i18n [nzDropdownMenu]="download">
        <span class="flex items-center delete-icon">
          <eo-iconpark-icon name="down-two" size="14px"></eo-iconpark-icon>
        </span>
        <span class="ml-1">Download</span>
      </div>
      <nz-dropdown-menu #download="nzDropdownMenu">
        <ul nz-menu>
          <ng-container *ngFor="let item of resourceInfo; let index = index">
            <a [href]="item.link" nz-menu-item>{{ item.name }}</a>
            <li nz-menu-divider *ngIf="index !== resourceInfo.length - 1"></li>
          </ng-container>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
<eo-setting [(isShowModal)]="isSettingVisible"></eo-setting>
