<div class="eo_navbar f_row f_js_ac">
  <div>
    <img class="logo" src="assets/images/logo.svg" />
    <img class="mx-4" src="https://img.shields.io/github/stars/eolinker/eoapi?style=social" alt="" />
  </div>
  <div class="flex items-center">
    <span
      nzPlacement="bottomRight"
      class="icon mx-1 flex items-center justify-center"
      nz-dropdown
      [nzDropdownMenu]="contentTemplate"
    >
      <iconpark-icon name="setting-two"></iconpark-icon>
    </span>
    <nz-dropdown-menu #contentTemplate="nzDropdownMenu">
      <ul nz-menu [nzSelectable]="false">
        <li nz-menu-item (click)="handleShowModal()">设置</li>
        <li nz-menu-item (click)="switchDataSource()">{{ isRemote ? '切换到本地' : '切换到远程' }}</li>
      </ul>
    </nz-dropdown-menu>
    <span
      class="icon mx-1 flex items-center justify-center"
      title="{{ dataSourceText }}数据源"
      nz-dropdown
      [nzDropdownMenu]="settingMenu"
      nzPlacement="bottomRight"
      [nzDisabled]="isRemote"
      (click)="isRemote && switchDataSource()"
    >
      <iconpark-icon [name]="isRemote ? 'link-cloud-sucess' : 'link-cloud-faild'"></iconpark-icon>
    </span>
    <nz-dropdown-menu #settingMenu="nzDropdownMenu">
      <div nz-menu class="switch-data-source-box">
        <div>
          <i nz-icon [nzType]="isRemote ? 'cloud' : 'cloud-sync'" nzTheme="outline" class="fs20"></i>
        </div>
        <div>
          <h4 class="title">{{ dataSourceText }}数据源</h4>
          <div class="desc">
            数据储存在{{ dataSourceText }}，{{
              isRemote ? '如不需协作，可以切换到本地数据源' : '如需协作请切换到远程数据源'
            }}
          </div>
          <button nz-button nzType="default" nzSize="small" (click)="switchDataSource()">切换</button>
        </div>
      </div>
    </nz-dropdown-menu>
    <span class="icon mx-1 flex items-center justify-center" nz-dropdown [nzDropdownMenu]="menu">
      <iconpark-icon name="help"></iconpark-icon>
    </span>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <a href="https://eoapi.io/" target="_blank" nz-menu-item>产品文档</a>
        <li nz-menu-divider></li>
        <a href="https://github.com/eolinker/eoapi/issues/new" target="_blank" nz-menu-item>问题反馈</a>
      </ul>
    </nz-dropdown-menu>
    <div *ngIf="!OS_TYPE.includes('mac') && isElectron">
      <span
        nz-tooltip
        nzTooltipTitle="最小化"
        nzTooltipPlacement="left"
        class="iconfont icon-jianhao mr10 fs24 cp"
        (click)="minimize()"
      >
      </span>
      <span
        nz-tooltip
        [nzTooltipTitle]="isMaximized ? '向下还原' : '最大化'"
        nzTooltipPlacement="left"
        class="iconfont icon-{{ isMaximized ? 'copy' : 'duoxuanweixuanzhong' }} mr10 fs24 cp"
        (click)="toggleMaximize()"
      >
      </span>
      <span
        nz-tooltip
        nzTooltipTitle="关闭"
        nzTooltipPlacement="left"
        class="iconfont icon-guanbi pr15 fs24 cp"
        (click)="close()"
      >
      </span>
    </div>
    <div *ngIf="!isElectron">
      <div class="btn py-1.5 px-2 mx-1 flex items-center" nz-dropdown [nzDropdownMenu]="download">Download</div>
      <nz-dropdown-menu #download="nzDropdownMenu">
        <ul nz-menu>
          <ng-container *ngFor="let item of resourceInfo; let index = index">
            <a [href]="item.link" nz-menu-item>{{ item.name }}</a>
            <li nz-menu-divider *ngIf="index !== resourceInfo.length - 1"></li>
          </ng-container>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>

<eo-setting [(isVisible)]="isSettingVisible"></eo-setting>
