<div class="eo_navbar f_row f_js_ac">
  <img class="logo" src="assets/images/logo.svg" />
  <div class="can_be_click f_row_ac right_btn_container">
    <div class="mr10" *ngIf="!isElectron">
      <span nz-dropdown [nzDropdownMenu]="download">
        <i nz-icon nzType="cloud-download" class="fs24" nzTheme="outline"></i>
      </span>
      <nz-dropdown-menu #download="nzDropdownMenu">
        <ul nz-menu>
          <ng-container *ngFor="let item of resourceInfo; let index = index">
            <a [href]="item.link" nz-menu-item>{{ item.name }}</a>
            <li nz-menu-divider *ngIf="index !== resourceInfo.length - 1"></li>
          </ng-container>
        </ul>
      </nz-dropdown-menu>
    </div>
    <ng-template #standAloneTmpl let-notification>
      <div>
        <img src="../../../../assets/images/offline.svg"> 目前数据储存在本地，如需协作请切换
        <a class="eo-blod" (click)="switchToRemote()">远程数据源</a>
      </div>
    </ng-template>
    <span class="mr15" nz-dropdown [nzDropdownMenu]="settingMenu" nzPlacement="bottomRight">
      <img src="../../../../assets/images/offline.svg">
    </span>
    <nz-dropdown-menu #settingMenu="nzDropdownMenu">
      <div nz-menu class="switch-data-source-box">
        <div>
          <img src="../../../../assets/images/offline.svg">
        </div>
        <div>
          <h4 class="title">本地数据源</h4>
          <div class="desc"> 数据储存在本地，如需协作请切换到远程数据源</div>
          <button nz-button nzType="default" nzSize="small" (click)="switchToStandAlone(standAloneTmpl)">切换</button>
        </div>
      </div>
    </nz-dropdown-menu>
    <span class="mr15" nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="question-circle" class="fs20" nzTheme="outline"></i>
    </span>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <a href="https://eoapi.io/" target="_blank" nz-menu-item>产品文档</a>
        <li nz-menu-divider></li>
        <a href="https://github.com/eolinker/eoapi/issues/new" target="_blank" nz-menu-item>问题反馈</a>
      </ul>
    </nz-dropdown-menu>
    <div *ngIf="!OS_TYPE.includes('mac') && isElectron">
      <span nz-tooltip nzTooltipTitle="最小化" nzTooltipPlacement="left" class="iconfont icon-jianhao mr10 fs24 cp"
        (click)="minimize()">
      </span>
      <span nz-tooltip [nzTooltipTitle]="isMaximized ? '向下还原' : '最大化'" nzTooltipPlacement="left"
        class="iconfont icon-{{ isMaximized ? 'copy' : 'duoxuanweixuanzhong' }} mr10 fs24 cp"
        (click)="toggleMaximize()">
      </span>
      <span nz-tooltip nzTooltipTitle="关闭" nzTooltipPlacement="left" class="iconfont icon-guanbi pr15 fs24 cp"
        (click)="close()">
      </span>
    </div>
  </div>
</div>
