<button eo-ng-button [disabled]="disabled" nzType="text" type="button" class="menu" (click)="showModal('json')">
  <eo-iconpark-icon name="afferent-three" size="14px"></eo-iconpark-icon>
  <span class="fs12 ml5" i18n>Import</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  i18n-[nzTitle]
  [nzTitle]="'Import ' + (modalTitle || contentTypeTitle)"
  [nzStyle]="{ width: '800px' }"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <pre class="eg" i18n>Import like this:<br />{{ eg }}</pre>
    <eo-monaco-editor
      [(code)]="paramCode"
      [editorType]="contenTypeEditor"
      [eventList]="['type', 'format', 'copy', 'search', 'replace']"
    ></eo-monaco-editor>
  </div>
  <div *nzModalFooter>
    <button eo-ng-button nzType="default" (click)="handleCancel()" i18n>Cancel</button>
    <button eo-ng-button nzType="default" (click)="handleImport('append')" i18n>Insert at the end</button>
    <button eo-ng-button nzType="default" (click)="handleImport('overwrite')" i18n>Replace All</button>
    <button eo-ng-button nzType="default" (click)="handleImport('mixin')" i18n>Replace Changed</button>
  </div>
</nz-modal>
