table.eo-table {
  width: 100%;
  border-radius: 3px 3px 0 0;
  border: 1px solid #f1f1f1;
  table-layout: fixed;
  border-collapse: separate;
  thead {
    height: 40px;
    background-color: #fafafa;
    th {
      padding: 0 10px;
      position: relative;
      white-space: nowrap;
      &:after {
        position: absolute;
        content: '';
        display: block;
        right: 0;
        top: 10px;
        bottom: 10px;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.05);
      }
      &:last-child:after {
        display: none;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: #f7f7f7;
        td {
          input {
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
      td {
        border: none;
        padding: 5px 8px;
        font-size: 14px;

        input {
          height: 30px;
          width: 100%;
          padding: 0 8px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.05);
          &:hover,
          &:focus {
            border-color: var(--MAIN_THEME_COLOR);
            box-shadow: 0 0 3px rgba(0, 120, 90, 0.3);
          }
        }
      }
    }
  }
}
