<div class="p-[15px]">
  <section class="grid grid-cols-2 gap-8 xl:grid-cols-3">
    <div class="card_item" *ngFor="let item of overviewList" (click)="handleClickCard($event, item)">
      <nz-card class="h-full" [nzActions]="[card]" [nzHoverable]="true">
        <nz-card-meta [nzTitle]="item.title" [nzDescription]="item.desc"></nz-card-meta>
      </nz-card>
      <ng-template #card>
        <eo-iconpark-icon class="mr-[5px]" name="{{ item.icon }}" size="16px"></eo-iconpark-icon>
      </ng-template>
    </div>
  </section>
</div>
