.workspace-title {
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.workspace-item {
  padding: 0 20px;
  height: 30px;
}

.active-item {
  color: var(--dropdown-item-hover-text-color);
  background-color: var(--dropdown-item-hover-background-color);

  &:hover {
    color: var(--dropdown-item-hover-text-color);
  }
}
