.demo-loadmore-list {
  min-height: 350px;
}

.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

@mixin hover-item {
  transition: border 0.3s;

  &:hover {
    border: 1px solid var(--BTN_PRIMARY_BG);
  }
}

:host {
  @apply block p-[20px];

  .list-type-switcher {
    .active {
      color: var(--BTN_PRIMARY_BG);
    }
  }

  ::ng-deep {
    .ant-list-items {
      @apply px-[10px] rounded-[3px];
      @include hover-item;

      border: 1px solid transparent;
    }

    .ant-card {
      @include hover-item;
    }
  }
}
