::ng-deep {
  .ant-list-split .ant-list-header {
    border: none;
    padding-top: 0;
  }

  .ant-list-items {
    .ant-list-item {
      @apply px-[10px] rounded-[3px];

      border: 1px solid transparent;

      &:hover {
        border: 1px solid var(--MAIN_THEME_COLOR);
      }
    }
  }
}
