header {
  padding: 5px 15px 5px 15px;
}
nz-divider {
  margin: 0 15px 0 0;
}
::ng-deep{
  .api_test_history_list {
    .method_label {
      padding: 1px 3px;
    }
    .thead_div_wrap {
      overflow-y: scroll;
    }
    .tbody_div_wrap {
      max-height: 190px;
      overflow-y: scroll;
    }
  }
}