.desc {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.plugin-block {
  user-select: none;
  cursor: pointer;
}

.list-block {
  height: calc(100% - 65px);
  overflow: auto;
  > div {
    border-radius: 3px;
  }
}
.border-all{
  border: 1px solid var(--BORDER);
}
@media (max-width: 1279.9px) {
  .grid-cols-4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
