<div class="px-3">
  <ng-template #prefixTemplateSearch><i nz-icon nzType="search"></i></ng-template>
  <div class="bbd"></div>
  <div class="grid grid-cols-2 gap-6 py-5 list-block">
    <div class="bd_all w-full min-h-[140px] p-5 rounded-lg flex flex-col flex-wrap items-center plugin-block"
      *ngFor="let it of renderList" (click)="clickExtension(it)">
      <div class="flex w-full">
        <div class=" block w-[40px] h-[40px] rounded-lg bg-cover bg-center bg-no-repeat mr-[20px]"
          [ngClass]="{ 'bg-gray-100': it.logo }" [ngStyle]="{ 'background-image': 'url(' + (it.logo || '') + ')' }">
        </div>

        <div class="flex flex-col flex-auto">
          <span class="text-lg font-bold">{{ it.moduleName }}</span>
          <span class="my-2 text-gray-400">{{ it.author }}</span>
          <span class="my-1 text-gray-500 desc">{{ it.description }}</span>
        </div>
        <!-- <nz-tag *ngIf="extensionService.localModules.has(it.moduleID)" [nzColor]="'var(--MAIN_THEME_COLOR)'">已安装
        </nz-tag> -->
        <div>
          <span *ngIf="extensionService.localModules.has(it.moduleID)"
            class="p-1 text-xs text-green-700 border-green-700 rounded-sm bd_all">installed</span>
        </div>
        <!-- <i
          nz-icon
          nzType="setting"
          (click)="handleSetingPlugin(it)"
          *ngIf="
            extensionService.localModules.has(it.moduleID) &&
            extensionService.localModules.get(it.moduleID).configuration
          "
          nzTheme="outline"
        ></i> -->
      </div>
    </div>
  </div>
</div>
