<div class="flex items-center justify-between eo-navbar">
  <div class="flex items-center">
    <eo-logo class="logo"></eo-logo>
    <!-- Star -->
    <a
      [href]="APP_CONFIG.GITHUB_REPO_URL"
      target="_blank"
      class="flex items-center ml-[15px] electron-can-be-click"
      trace
      traceID="jump_to_github"
      [traceParams]="{ where_jump_to_github: 'star' }"
    >
      <img loading="lazy" src="https://img.shields.io/github/stars/postcatlab/postcat?style=social" alt="" />
    </a>
    <eo-nav-breadcrumb class="ml-[15px] electron-can-be-click"></eo-nav-breadcrumb>
  </div>
  <div class="flex items-center electron-can-be-click">
    <!-- share -->
    <eo-get-share-link></eo-get-share-link>
    <!-- Extension -->
    <button
      eo-ng-button
      nzType="default"
      class="flex items-center justify-center"
      i18n-nzTooltipTitle
      eoNgFeedbackTooltip
      [nzTooltipMouseEnterDelay]="0.4"
      nzTooltipPlacement="bottom"
      nzTooltipTitle="Extensions"
      (click)="openExtension()"
      trace
      traceID="open_extensions"
      i18n
      >Extensions</button
    >
    <nz-divider nzType="vertical"></nz-divider>
    <div class="right-group-btn">
      <!-- Help -->
      <pc-help-dropdown></pc-help-dropdown>
      <!-- setting -->
      <button
        eo-ng-button
        nzType="text"
        class="flex items-center justify-center icon pc-setting-btn"
        i18n-nzTooltipTitle
        eoNgFeedbackTooltip
        [nzTooltipMouseEnterDelay]="0.4"
        nzTooltipPlacement="bottom"
        nzTooltipTitle="Open Settings"
        (click)="openSettingModal()"
      >
        <eo-iconpark-icon name="setting"></eo-iconpark-icon>
      </button>
      <!-- User -->
      <pc-btn-user></pc-btn-user>
      <!-- Web download client -->
      <pc-download-client></pc-download-client>
    </div>
    <!--  PC system operate -->
    <nz-divider nzType="vertical" *ngIf="electron.isElectron"></nz-divider>
    <eo-nav-operate class="right-group-btn"></eo-nav-operate>
  </div>
</div>
