<div class="flex items-center justify-between eo-navbar">
  <div class="flex items-center">
    <eo-logo class="logo"></eo-logo>
    <!-- Star -->
    <a href="https://github.com/eolinker/postcat" target="_blank" class="flex items-center ml-[15px] electron-can-be-click">
      <img loading="lazy" src="https://img.shields.io/github/stars/eolinker/postcat?style=social" alt="" />
    </a>
    <eo-nav-breadcrumb class="ml-[15px] electron-can-be-click"></eo-nav-breadcrumb>
  </div>
  <div class="flex items-center electron-can-be-click">
    <!-- share -->
    <eo-get-share-link *ngIf="!store.isLocal"></eo-get-share-link>
    <!-- Extension -->
    <ng-container>
      <button
        eo-ng-button
        nzType="default"
        class="flex items-center justify-center"
        i18n-nzTooltipTitle
        eoNgFeedbackTooltip
        [nzTooltipMouseEnterDelay]="0.4"
        nzTooltipPlacement="bottom"
        nzTooltipTitle="Extensions"
        (click)="openExtension()"
        i18n
      >
        Extensions
      </button>
      <nz-divider nzType="vertical"></nz-divider>
    </ng-container>
    <!-- Help -->
    <pc-help-dropdown></pc-help-dropdown>
    <!-- setting -->
    <button
      eo-ng-button
      nzType="text"
      class="flex items-center justify-center icon"
      i18n-nzTooltipTitle
      eoNgFeedbackTooltip
      [nzTooltipMouseEnterDelay]="0.4"
      nzTooltipPlacement="bottom"
      nzTooltipTitle="Open Settings"
      (click)="openSettingModal()"
    >
      <eo-iconpark-icon name="setting"></eo-iconpark-icon>
    </button>
    <!-- User -->
    <button
      eo-ng-button
      nzType="text"
      eo-ng-dropdown
      *ngIf="feature.config.cloudFeature"
      class="flex items-center justify-center icon ml-[10px]"
      [nzDropdownMenu]="userMenu"
      nzPlacement="bottomRight"
    >
      <eo-iconpark-icon name="people"> </eo-iconpark-icon>
    </button>
    <eo-ng-dropdown-menu #userMenu>
      <ul nz-menu>
        <li nz-menu-item *ngIf="!store.isLogin" (click)="loginOrSign()" i18n>Sign in/Up</li>
        <ng-container *ngIf="store.isLogin">
          <li class="px-[12px] py-[5px] font-bold">
            {{ store.getUserProfile?.userNickName }}
          </li>
          <li nz-menu-item (click)="openSettingModal()" i18n>Account Setting</li>
          <li nz-menu-item (click)="loginOut()" i18n>Sign Out</li>
        </ng-container>
      </ul>
    </eo-ng-dropdown-menu>
    <!-- Web download client -->
    <pc-download-client></pc-download-client>
    <!--  PC system operate -->
    <eo-nav-operate></eo-nav-operate>
  </div>
</div>
