.eo-navbar {
  -webkit-app-region: drag;
  position: sticky;
  width: 100%;
  z-index: 11;
  left: 0;
  top: 0;
  padding: 0 8px;
  color: var(--layout-header-text-color);
  background-color: var(--layout-header-background-color);
  border-bottom: 1px solid var(--border-color);
  height: var(--page-navbar-height);

  .logo {
    width: 30px;
  }
}

:host ::ng-deep {
  --button-text-text-color: var(--layout-header-text-color);
  --button-text-hover-text-color: var(--layout-header-text-color);
}
