.eo-navbar {
  -webkit-app-region: drag;
  position: sticky;
  width: 100%;
  z-index: 11;
  left: 0;
  top: 0;
  padding: 0 8px;
  background-color: var(--layout-header-background-color);
  border-bottom: 1px solid var(--border-color);
  height: var(--page-navbar-height);

  .logo {
    width: 30px;
  }
}
